// Cluster
// @link https://every-layout.dev/layouts/cluster/

@use "../settings";

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gutter, settings.$FRAAP-GLOBAL-GUTTER);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}
