// sidebar
// @link https://every-layout.dev/layouts/sidebar/

@use "../settings";

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gutter, settings.$FRAAP-GLOBAL-GUTTER);
}

.with-sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

// .with-sidebar-right > :first-child {
//   flex-basis: 0;
//   flex-grow: 999;
//   min-width: var(--sidebar-content-min-width, 50%);
//   // background-color: var(--color-primary);
// }

// .with-sidebar-right > :last-child {
//   flex-basis: var(--sidebar-target-width, 20rem);
//   flex-grow: 1;
//   // background-color: var(--color-contrast);
// }
