/// SWITCHER
/// https://every-layout.dev/layouts/switcher/
/// et https://www.aleksandrhovhannisyan.com/blog/flexbox-holy-albatross-with-variable-width-columns/

// @use "../settings";
// @use "../tools/mq" as mq;



.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gutter-row, var(--auto-grid-gutter-row)) var(--switcher-gutter-column, var(--auto-grid-gutter-column));
  align-items: var(--switcher-vertical-alignment, flex-start);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-target-container-width, var(--auto-grid-min-item-size)) - 100%) * 999);
}
