@font-face {
  font-family: "u001";
  src: url("../fonts/u001-bol.woff2") format("woff2"),
    url("../fonts/u001-bol.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "u001";
  src: url("../fonts/u001-bolita.woff2") format("woff2"),
    url("../fonts/u001-bolita.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "u001";
  src: url("../fonts/u001-ita.woff2") format("woff2"),
    url("../fonts/u001-ita.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "u001";
  src: url("../fonts/u001-reg.woff2") format("woff2"),
    url("../fonts/u001-reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "u001con";
  src: url("../fonts/u001con-bol.woff2") format("woff2"),
    url("../fonts/u001con-bol.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "u001con";
  src: url("../fonts/u001con-bolita.woff2") format("woff2"),
    url("../fonts/u001con-bolita.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "u001con";
  src: url("../fonts/u001con-ita.woff2") format("woff2"),
    url("../fonts/u001con-ita.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "u001con";
  src: url("../fonts/u001con-reg.woff2") format("woff2"),
    url("../fonts/u001con-reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
