// FONT FACES

// Frutiger
@font-face {
  font-family: "Frutiger";
  src: url("../fonts/frutiger/FrutigerLTStd-Light.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/frutiger/FrutigerLTStd-LightItalic.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/frutiger/FrutigerLTStd-Italic.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/frutiger/FrutigerLTStd-Roman.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/frutiger/FrutigerLTStd-Bold.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/frutiger/FrutigerLTStd-BoldItalic.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-BoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: "Frutiger";
//   src: url("../fonts/frutiger/FrutigerLTStd-Black.woff2") format("woff2"),
//     url("../fonts/frutiger/FrutigerLTStd-Black.woff") format("woff");
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Frutiger";
//   src: url("../fonts/frutiger/FrutigerLTStd-BlackItalic.woff2") format("woff2"),
//     url("../fonts/frutiger/FrutigerLTStd-BlackItalic.woff") format("woff");
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Frutiger";
//   src: url("../fonts/frutiger/FrutigerLTStd-UltraBlack.woff2") format("woff2"),
//     url("../fonts/frutiger/FrutigerLTStd-UltraBlack.woff") format("woff");
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// Frutiger Bold Condensed
@font-face {
  font-family: "FrutigerBC";
  src: url("../fonts/frutiger/FrutigerLTStd-BoldCn.woff2") format("woff2"),
    url("../fonts/frutiger/FrutigerLTStd-BoldCn.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/// Glypha
// @font-face {
//   font-family: "Glypha";
//   src: url("../fonts/glypha/GlyphaLTStd-Thin.woff2") format("woff2"),
//     url("../fonts/glypha/GlyphaLTStd-Thin.woff") format("woff");
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Glypha";
//   src: url("../fonts/glypha/GlyphaLTStd-ThinOblique.woff2") format("woff2"),
//     url("../fonts/glypha/GlyphaLTStd-ThinOblique.woff") format("woff");
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "Glypha";
  src: url("../fonts/glypha/GlyphaLTStd-Light.woff2") format("woff2"),
    url("../fonts/glypha/GlyphaLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glypha";
  src: url("../fonts/glypha/GlyphaLTStd-LightOblique.woff2") format("woff2"),
    url("../fonts/glypha/GlyphaLTStd-LightOblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Glypha";
  src: url("../fonts/glypha/GlyphaLTStd.woff2") format("woff2"),
    url("../fonts/glypha/GlyphaLTStd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glypha";
  src: url("../fonts/glypha/GlyphaLTStd-Oblique.woff2") format("woff2"),
    url("../fonts/glypha/GlyphaLTStd-Oblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Glypha";
  src: url("../fonts/glypha/GlyphaLTStd-Bold.woff2") format("woff2"),
    url("../fonts/glypha/GlyphaLTStd-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glypha";
  src: url("../fonts/glypha/GlyphaLTStd-BoldOblique.woff2") format("woff2"),
    url("../fonts/glypha/GlyphaLTStd-BoldOblique.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: "Glypha";
//   src: url("../fonts/glypha/GlyphaLTStd-Black.woff2") format("woff2"),
//     url("../fonts/glypha/GlyphaLTStd-Black.woff") format("woff");
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Glypha";
//   src: url("../fonts/glypha/GlyphaLTStd-BlackOblique.woff2") format("woff2"),
//     url("../fonts/glypha/GlyphaLTStd-BlackOblique.woff") format("woff");
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }
