/* ======================================== */
/*	Site : 		FRAAP						*/
/*	URL : 		fraap.org					*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2011						*/
/*	Version :	2.0							*/
/* ======================================== */

#grille { xposition: absolute; xtop: 20px; xleft:0; }
.gs { background: #fff url('../images/16_col.gif') repeat-y top center; }


/* Les boutons d'admin survolent la page (sauf # FORMULAIRE_ADMIN) */
/* surcharge des css par defaut */
.spip-admin-bloc,
.spip-admin-float { z-index: 100; position: fixed; right: auto; left: 0; width: 200px; }









/* contenu des objets */
.descriptif {
	xfont-size: 14px;
	xmargin-bottom: 3em; }

/* article */


	













