/* ======================================== */
/*	Site : 		FRAAP						*/
/*	URL : 		fraap.org					*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2011						*/
/*	Version :	2.0							*/
/* ======================================== */


/* définitions génériques */
	input, select, textarea { font-size: 100%; font-family: inherit; }

	.formulaire_spip { clear: both; padding: 0; text-align: left; }
	.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */

	/* Fieldset */
	.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; padding: 0; border: 0; }
	.formulaire_spip fieldset legend { margin: 0; padding: 0; font-weight: bold; background-color: #fff; color: #333; } /* Preciser la couleur des legend et du fond pour IE/Win */
	.formulaire_spip .legend { font-size: 14px; border-bottom: 1px solid #000; margin-bottom: .5em; }
	.formulaire_spip fieldset fieldset { margin-top: 1em; }
	.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

	/* Explications */
	.formulaire_spip .explication {
		font-size: 12px;
		margin: 0;
		color: #999; }

	/* Lignes */
	.formulaire_spip ul { margin: 0; padding: 0; list-style: none; }
	.formulaire_spip ul li { margin: 0; padding: .7em 0 .7em; }
	.formulaire_spip ul li.fieldset { padding: 0 0 .7em; }

	/* Labels */
	.formulaire_spip label {
		font-size: 12px;
		display: block; margin: 0;
		text-align: left;
		color: #666;
		font-weight: bold;
		/* pour IE/Win */ position: relative;  }
	.formulaire_spip li p { margin-top: 0; margin-bottom: 0; }

	.formulaire_spip .choix label { display:inline; font-weight:normal; }
	.formulaire_spip .choix input.radio,
	.formulaire_spip .choix input.checkbox { width:auto; }

	/* Champs de saisie */
	.formulaire_spip input.text, .formulaire_spip input.password {  }
	.formulaire_spip textarea {  }
	.formulaire_spip input.text, .formulaire_spip input.password, .formulaire_spip textarea {
		background: url('../images/input-bg.png') no-repeat 0 0;
		margin: .5em 0;
		padding: 3px 5px;
		border: 1px solid #bbb;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px; }
	.formulaire_spip select {  }
	.formulaire_spip input[disabled] { color: #ccc; background-image: none; }

	/* focus */
	.formulaire_spip input.text:focus, .formulaire_spip input.password:focus, .formulaire_spip textarea:focus {
		border: 1px solid #000; }

	/* Boutons */
	.formulaire_spip .boutons { clear: both; margin: 0 0 1em 0; padding: 0; text-align: right; }
	.formulaire_spip .boutons input { margin-left: 1em; }
	.formulaire_spip .boutons input, input.submit {  }

	/* Reponses, previsu et erreurs */

	/* Champs obligatoires */
	.formulaire_spip li.obligatoire {}
	.formulaire_spip li.obligatoire label {}

	/* Previsualisation du message */
	.formulaire_spip fieldset.previsu { margin-bottom: 2em; padding: 1em; border: 2px dashed #F57900; }
	.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; font-weight: bold; color: #F57900; }
	.formulaire_spip fieldset.previsu li { padding: 3px; border: none; }
	.formulaire_spip fieldset.previsu p { margin: 1em 0; }

	/* Reponse du formulaire */
	.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; }
	fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
	fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend et du fond pour IE/Win */

	/* * Erreurs */
	.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
	.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
	.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

	/* * OK */
	.reponse_formulaire_ok { color: #53AD20; font-weight: bold; }

	/* présentation en ligne */
/*	.enligne {  }
		.formulaire_spip.enligne li.fieldset { padding-left: 0; }
		.formulaire_spip.enligne ul.fields li {
			overflow: hidden;
			border-bottom: 1px solid #ddd;
			padding-left: 230px;
			margin: 0; }
			.enligne label {
				vertical-align: top;
				xfloat: left; text-align: left;
				margin-right: 10px; margin-left: -220px;
				width: 220px;
				display: inline-block; }
			.formulaire_spip.enligne input.text, .formulaire_spip.enligne input.password, .formulaire_spip.enligne textarea {
				width: 208px; }
			.enligne .explication {
				font-size: 11px;
				margin: .25em 0 0 10px; }
*/
	.enligne li { border-bottom: 1px solid #ddd; position: relative; }
		.enligne label {
			display: inline-block;
			vertical-align: top;
			margin-right: 20px;
			width: 80px; }
		.enligne p.explication {
			display: inline-block; vertical-align: top;
			position: absolute; top: .7em;
			width: 220px; }
		.enligne input, .enligne textarea {
			vertical-align: top; }
		.enligne p.explication + input { margin-top: 1.7em; }


/* formulaire tri stages */
	#formulaire_tri_stages .ui-tabs { padding:0; margin-bottom: 1em;}
	.actions #formulaire_tri_stages li { display: block; }
	#formulaire_tri_stages #localisation li { border-bottom: 1px solid #ddd; }
	#formulaire_tri_stages #formation label { width: 100px; }
	#formulaire_tri_stages #formation input,
	#formulaire_tri_stages #localisation input.text { width: 220px; }
		#formulaire_tri_stages .bloc {
			float: left;
			width: 220px;
			margin: 0 10px; }
		#formulaire_tri_stages .item1 { margin-left: 0; }
		#formulaire_tri_stages .bloc:last-child { margin-right: 0; }

/* recherche */
#raccourcis #formulaire_recherche {
	position: relative; z-index: 2;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: right;
	background-color: #5a005a;
	width: 940px; }
	#formulaire_recherche form {
		margin: 1em 0 1em 485px;
		float:left; }
		#formulaire_recherche label { display: none; }
		#formulaire_recherche input[type=text] {
			background: #fff url('../images/icones.png') no-repeat 1px 1px;
			border: 1px solid #900090; border-color: #650065 #900090 #900090 #650065;
			font-size: 12px;
			padding-left: 20px;
			width: 317px; }
		#formulaire_recherche input[type=text]:focus { background-position: 1px -31px; }
		#formulaire_recherche .submit {
			-webkit-transition: background-color .2s linear, border-color .1s linear;
			   -moz-transition: background-color .2s linear, border-color .1s linear;
			     -o-transition: background-color .2s linear, border-color .1s linear;
			        transition: background-color .2s linear, border-color .1s linear;
			background-color: #909; color: #fff;
			text-transform: uppercase; font-size: 11px;
			border: 1px solid #909; border-color: #909 #4b004b #4b004b #909; }
		#formulaire_recherche .submit:hover {
		background-color: purple;
		border-color: #909 #4b004b #4b004b #b100b1; }
		#formulaire_recherche .submit:active {
			border-color: #4b004b #b100b1 #b100b1 #4b004b;
			background-color: #650065; }
		#formulaire_recherche input[type=text], #formulaire_recherche .submit {
			-webkit-border-radius: 4px;
			   -moz-border-radius: 4px;
			        border-radius: 4px; }

/* page profil (stages) */
.formulaire_editer_auteur_light {
	margin: 0 0 2em;
	padding: .5em 0;
	border: 1px solid #196efa; border-width: 0 0 1px; }
