/* ======================================== */
/*	Site : 		FRAAP						*/
/*	URL : 		fraap.org					*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2011						*/
/*	Version :	2.0							*/
/* ======================================== */

/* grille de mise en page */
.gs { background: #fff url('../images/16_col.gif') repeat-y top center; }

/* #debug */

#debug {
	font-size: 10px;
	background:rgba(255,83,13,0.5);
	color:black;
	position:fixed;top:50px;right:0;
	text-align:left;
	width: 280px; height: 400px; overflow: scroll;
	padding:8px; }

/* Les boutons d'admin survolent la page (sauf # FORMULAIRE_ADMIN) */
/* surcharge des css par defaut */
.spip-admin-bloc,
.spip-admin-float { z-index: 100; position: fixed; right: auto; left: 0; width: 200px; }
.spip-admin-float a {
	-webkit-border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	        border-radius: 0 4px 4px 0;
	float: left; clear: both;
	margin: 10px 0 0; padding: 5px; }

/* disposition des blocs principaux */

#page { position: relative; }

	#contenu, #extra { margin-bottom: 3em; }

	/* #contenu en fonction des pages */
	.page_sommaire #contenu {
		margin-top: 3em;
		margin: 3em 10px 0;
		padding-left: 240px; }

	.page_login #contenu,
	.page_identification #contenu,
	.page_inscription #contenu,
	.page_candidature #contenu,
	.page_recherche #contenu,
	.page_contact #contenu {
		float:right; display: inline;
		margin-right: 10px;
		width: 700px; }

	.page_rubrique #contenu,
	.page_article #contenu,
	.page_breve #contenu,
	.rubrique_stages #contenu {
		float: left; display: inline;
		margin-left: 10px; margin-right: 10px;
		width: 940px; }

	.page_profil #contenu {
		display: inline; float: left;
		margin: 0 10px 3em; padding-left: 240px;
		width: 460px; }

/* groupe */
.groupe {
	margin-bottom: 3em;
	border: 1px solid #000; border-width: 0 0 1px; }

/* presentation horizontale */
.horizontal .hentry .resume-conteneur, .horizontal .item .resume-conteneur { width: 580px; }

/* présentation grille */
.groupe.grille { padding-top: 1em; }
	.grille .impair { margin-right: 10px; clear: left; }
	.grille .pair { margin-left: 10px; }

	/* articles en grille dans les rubriques */
	.grille .hentry { display: inline; float: left; width: 340px; }
	.grille .hentry .resume-conteneur { width: 220px; }

	/* documents en grille dans les rubriques */
	.grille #documents dl { width: 340px; display: inline; float: left; }

	/* résultats de recherche */
		/* breves en grille */
		.recherche .grille .hentry { width: 220px; }
		.recherche .grille .hentry .resume-conteneur { width: 140px; float: right; }
		.recherche .grille .hentry .published { width: 70px; margin-right: 0; }
		/* documents en grille */
		.recherche.grid_12 { margin-left: 0; }
		.recherche.grille .item {
			float: left;
			width: 220px;
			margin-left: 10px; margin-right: 10px; }
		.recherche.grille .item:first-child { margin-left: 0; }
		.recherche.grille .item:last-child { margin-right: 0; }
		.recherche.grille #documents dl { width: auto; }

	/* page sommaire */
	.page_sommaire .grille { margin-left: 0; margin-right: 0; }


/* zones communes */
	/* #titre des pages */
	#titre { margin: 2em 10px 3em; }
	#extra-objet-conteneur {
		float: left; display: inline;
		margin-right: 10px;
		width: 220px; }
	#chapo-conteneur {
		float: right; display: inline;
		margin-left: 10px; margin-bottom: 3em;
		width: 700px; }
	#contenu .contenu {
		float: right; display: inline;
		position: relative;
		width: 700px; }

	/* .textecourant : blocs de texte, notes, ps */
	.textecourant { margin-bottom: 3em; }


	/* notes */
	.notes { margin-top: 3em; margin-left: 120px; }

	/* articles et breves */
	.page_article #chapo-conteneur { margin-bottom: 2em; padding-top: .5em; }
		.page_article #contenu .contenu-principal, .page_breve #contenu .contenu-principal {
			float: left; display: inline;
			padding-top: .5em;
			width: 460px; }
		.page_article #contenu .contenu-secondaire, .page_breve #contenu .contenu-secondaire {
			float: right; display: inline;
			width: 220px; }

	.page_article #extra {
		float: left; display: inline;
		margin-left: 10px;
		width: 220px; }


	/* entete */
	#entete { margin-top: 5.7em; }
	#logo { position: relative; }
		#logo h1, #logo p { margin: 9px 0; }
		#baseline {
			font-size: 24px;
			position: absolute; top: -2.6em;
			width: 960px; }

	/* #navigation */
	.rubrique_stages #navigation {
		display: inline; float: left;
		margin-left: 10px; width: 220px; }

	.page_profil #navigation {
		display: inline; float: left;
		margin-left: 10px;
		width: 220px; }

	/* pied de page */
	#pied { margin: 1em 10px 2em;  }
		#pied .groupe { border-bottom-width: 0; border-color: #000;  }
		#pied .colonne {
			float: left; display: inline;
			margin-right: 10px; }
			#pied h2 { font-size: 14px; margin: 1em 0; }
		#pied .colonne:last-child {  }
			#pied .about { width: 220px; }
			#pied .vcard { border-left: 1px solid #ccc; padding-left: 10px; }

		#pied .follow { margin-top: 4em; list-style-type: none; }
			#pied .follow li {
				font-size: 13px;
				padding-left: 19px;
				margin-bottom: .25em; margin-left: 0;
				background: url('../images/pied-icones.png') no-repeat; }
				#pied .follow a { display: block; }
				#pied .follow .facebook { background-position: 0 -62px; }
				#pied .follow .rss { background-position: 0 -94px; }
				#pied .follow .credits { background-position: 0 -126px; }


/* menus */

.menu > ul {
	display: inline; float: left;
	margin: 0 10px; }
.menu > ul:first-child { margin-left: 0; }
.menu > ul:last-child { margin-right: 0; }
	.menu li {
		text-align: right;
		list-style-type: none;
		margin: 0; }

/* menu principal */

/* nav */
#nav ul {
	height: 88px;
	width: 220px;
	border-top: 3px solid #000;
	border-bottom: 1px solid #000; }
	#nav ul ul { border-bottom-width: 0; }
	#nav li {
		border-width: 0 0 3px; border-style: solid;
		margin-top: 1px; }
		#nav li a {
			padding: 1px 1px 2px;
			display: block; }
		#nav li a:hover { color:#fff; text-decoration: none; }

	#nav li.on {  }

	/* dropdown */
	li.has-dropdown {
		position: relative;
		padding-right: 14px;
		background: url('../images/icones.png') no-repeat 100% -96px; }
	li.has-dropdown:hover { background-position: 100% -140px; }
		#nav li.has-dropdown:hover ul.dropdown { visibility: visible; }
			#nav ul.dropdown {
				position: absolute; visibility: hidden; z-index: 100;
				margin-top: 0;
				border: 0; }
				#nav ul.dropdown li {
					padding: 3px 2px 4px;
					border: 1px solid #fff; border-width: 1px 0 0; }
				#nav ul.dropdown li:first-child { border-top-width: 2px; }
				ul.dropdown li:last-child, ul.dropdown li:hover:last-child {
					webkit-border-bottom-right-radius: 6px;
					-webkit-border-bottom-left-radius: 6px;
					-moz-border-radius-bottomright: 6px;
					-moz-border-radius-bottomleft: 6px;
					border-bottom-right-radius: 6px;
					border-bottom-left-radius: 6px; }
					ul.dropdown li > a  {  }
					ul.dropdown li:hover > a { color: #fff; }


	/* raccourcis */
	#raccourcis {
		margin: 0 10px;
		width: 940px; clear: both; }

		#raccourcis ul {
			z-index: 2;
			margin:0;
			float: right; }
			#raccourcis ul li {
				font-size: 12px;
				float: left;
				margin: 0 10px 0;
				min-height: 3.25em;
				width: 100px; }
			#raccourcis ul li:last-child { margin-right: 0; }
			#raccourcis ul li.on { margin-top: 0; border-color: #5a005a; border-top-width: 8px;  }
			#raccourcis ul li.marge { margin-top: 4px; }
			#raccourcis ul li.recherche {
				position: relative;
				border-top-width: 4px;
				margin-top:-2px }
			#raccourcis ul li.on.recherche { border-top-width: 8px; }
				#raccourcis ul li.on a {  }
				#raccourcis ul li a { display: block; }

	/* zone menu-identification (rubrique Stages) */
	#menu-identification {
		color: #fff;
		width: 220px;
		position: absolute; top: 0; left: 10px; z-index: 1;
		border: 1px solid #000; border-width: 0;
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		   -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		     -o-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		-webkit-border-radius: 0 0 2px 2px;
		   -moz-border-radius: 0 0 2px 2px;
		        border-radius: 0 0 2px 2px; }
		#menu-identification ul { list-style-type: none; margin: 5px; }
			#menu-identification li { margin: 0; }
				#menu-identification p {
					font-size: 13px;
					text-align: right;
					margin: 0 0 .25em; }
				#menu-identification p.bienvenue { margin: 0; }
					#menu-identification p a { color: #fff; text-decoration: underline; font-weight: normal; }
					#menu-identification p a:hover { text-decoration: none; }


/* fil d'ariane */

#fil {
	clear: both;
	padding-left: 250px;
	margin-bottom: 2em;
	width: 700px; }
	#fil #ariane {
		border: 1px dotted #000;
		border-top-style: solid;
		border-width: 1px 0 1px; }
