body {
	font: 12pt/1.5 "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	background: #fff; color: #111;
	margin: 5% 5% 10% 15%; }

p { margin-bottom: 1.5em; }

/* structurer un peu la page */
	#entete, .contenu-principal {
		padding-bottom: 1em;
		border-bottom: 1px solid #000;
		margin-bottom: 2em; }


/* quelques retouches */
	#logo p { margin: 0; }
	#logo h1 { margin: 0 0 .5em; }
	.contenu-secondaire { font-size: 11pt; }
	.hentry .intro { overflow: hidden; }
	.hentry .intro .logo-objet { float: left; margin-right: 10px;  }

	p.surtitre {
		font-size: 14px; font-weight: bold;
		text-transform: uppercase;
		float: left;
		border-bottom: 1px solid #000;
		margin-bottom: .5em; padding-right: 10px; }
	#titre h1.h1 {
		clear: both;
		font-size: 28px; line-height: 1em; margin: 0; }
	p.soustitre {
		font-size: 16px; font-weight: bold;
		margin-top: .5em; }
	#chapo-conteneur p { font-size: 15pt; }

	table {
		margin:0 0 1.5em;
		border-collapse: collapse; border-spacing: 0;
		width: 100%; }
	table th, table td { border: 1px solid #000; border-width: 1px 1px; padding: 3pt; }
	table th:first-child, table td:first-child { border-left: 1px solid #000; }
	table th:last-child, table td:last-child { border-right: 1px solid #000; }


/*	liens */
	a img { border:none; }
	a:link, a { text-decoration: underline; color: #000; }
	#logo a { text-decoration:none; }
	a.spip_out:after, a.spip_glossaire:after, a.spip_mail:after { display: inline; content: " [" attr(href) "]"; }

/* images */
	.spip_documents_center { display: block;display: table; clear: both; margin: 1em auto; }
	.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
	.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
	.spip_doc_titre { margin-top: .5em; margin-right: auto; margin-left: auto; font-weight: bold; }
		.spip_doc_titre h3 { font-size: 14px; }
	.spip_doc_descriptif { clear: both; margin-right: auto; margin-left: auto; }

/* Elements a masquer */
	#raccourcis,
	#nav,
	#menu-identification,
	#fil,
	#pied,
	.spip-admin-float, .spip-admin-boutons,
	.formulaire_spip { display: none; }