/* ======================================== */
/*	Site : 		FRAAP						*/
/*	URL : 		fraap.org					*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2011						*/
/*	Version :	2.0							*/
/* ======================================== */

/* liens */
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: color .35s linear;
	   -moz-transition: color .35s linear;
	     -o-transition: color .35s linear;
	        transition: color .35s linear; }
a:visited {  }
a:hover { text-decoration: underline; color: #000; }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }

.textecourant a { text-decoration: underline; }

span.suite a:after, a.suite:after { content:"\00A0\2192"; }

#contenu a, #fil a, #pied a { font-weight: bold; }
#contenu .tabs .ui-tabs-nav a { font-weight: normal; }

#tabs a:focus { outline: none; }


/* filets */
.filet, .filetH { border-top: 2px solid #000; }
.filetH3px { border-top: 3px solid #000; }
.filets2px { border: 2px solid #000; border-width: 2px 0 1px; }
.filets, .filets2px { border: 2px solid #000; border-width: 2px 0 1px; }
.filet3px { border: 3px solid #000; border-width: 3px 0 1px; }
.filetB { border-bottom: 1px solid #000; }


/* logo des objets */
.logo-objet {
	outline: 1px solid #e9e9e9;
	border-top: 1px solid #fff;
	margin-top: 5px;
	padding: 10px;
	background: #f7f7f7; }
a.img { display: block; float: left; }

/* puce Spip */
img.puce { background-color: #000; }

/* icones */
	/* style générique */
	.icon {
		cursor: pointer;
		font-size: 0;
		display: inline-block;
		overflow: hidden;
		height: 22px; width: 22px;
		background: #000 url('../images/sprite.png') no-repeat 0 0;
		border: 1px solid #000;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		-webkit-transition: background-color 0.15s ease;
		   -moz-transition: background-color 0.15s ease;
		     -o-transition: background-color 0.15s ease;
		        transition: background-color 0.15s ease; }

	/* tabs : icones des onglets */
	.onglets li span.icon {
		background: #aaa url('../images/sprite.png') no-repeat -17px 0;
		background-color: #aaa;
		height: 16px; width: 16px;
		border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
		vertical-align: top;
		margin-right: 3px; }

	/* annuaire asso */
	.onglets li.region span.icon { background-position: -17px 0; }
	.onglets li.activites span.icon { background-position: -34px 0; }
	.onglets li.contact span.icon { background-position: -51px -17px; }
	.onglets li.publications span.icon { background-position: -68px -17px; }

	/* article */
	.onglets li.themes span.icon { background-position: -51px 0; }
	.onglets li.lire span.icon { background-position: -68px 0; }
	.onglets li.documents span.icon { background-position: -17px -17px; }
	.onglets li.breves span.icon { background-position: -34px -17px; }

	/* rubrique annuaire > article > liste tags */
	dl.annuaire-tags dt.icon {
		background: #000 url('../images/sprite.png') no-repeat -17px 0;
		vertical-align: top; float: left;
		height: 16px; width: 16px;
		border: none; }
	dl.annuaire-tags dt.icon.region { background-position: -17px 0; }
	dl.annuaire-tags dt.icon.activites { background-position: -34px 0; }


/* texte courant */
	.textecourant p, p.intro,
	.textecourant ul, .textecourant ol { font-size: 14px; }

/* notes */
	.notes h2.spip { font-size: 16px; }
	.notes.textecourant p { font-size: 12px; }

/* pagination */
.pagination {
	font-size: 12px;
	clear: both; text-align: right;
	color: #999;
	margin: 0 0 1em; }
	.pagination * { display: block; float: left; margin-right: 5px; }
	.pagination *:last-child { margin-right:0; }
	.pagination .pagination-conteneur { float: right; padding-left: 10px; padding-right: 5px; }
	.pagination.haut .pagination-conteneur { border-top: 1px dotted #000; }
	.pagination.bas .pagination-conteneur { border-bottom: 1px dotted #000; }
		.pagination strong { color: #fff; background-color: #000; padding: 0 3px; border: 1px solid #000; }
		.pagination .pagination-conteneur a { border: 1px solid #000; padding: 0 3px 1px; }
		.pagination.haut a { border-top-width: 0; }
		.pagination.bas a { border-bottom-width: 0; }
		.pagination .separateur { display: none; }


/* une */
/* div.une.item, dl.une dd.item {
	margin-bottom: 2em;
	border-bottom: 1px solid #000; }
	div.une.item { width: 218px; }
	dl.une dd.item div { width: 578px; }
		.une h2 { border-bottom: 2px solid #000; margin-bottom: .5em; }

	div.une.over, dl.une dd.item.over {  }
*/
.une dd {
	margin-bottom: 2em;
	border-bottom: 1px solid #000; }


/* hfeed */
	/* page rubrique, recherche et sommaire */
	/* pour la page recherche on utilise les équivalences de classes pour les contenus qui ne sont pas des hentry en tant que tels */
	.groupe .hentry, .groupe .item {
		border-top: 2px solid #000;
		padding-top: 1em; margin-bottom: 1em; }

		.groupe .hentry .published, .groupe .item .info-publi {
			color: #999;
			line-height: 22px;
			float: left; display: inline;
			margin-right: 10px;
			width: 100px; }

		.groupe .hentry .logo-objet, .groupe .item .logo-objet {
			float: left;
			margin: 1px 19px 1px 1px; }

		.groupe .hentry .resume-conteneur, .groupe .item .resume-conteneur {
			float: left; display: inline;
			margin-left: 10px; }

		.hfeed .intro, .recherche .intro { overflow: hidden; }
		.groupe .hfeed h2.entry-title { }

		.groupe h2.intertitre { margin-bottom: 0; }

	/* contenu en format horizontal */

		.groupe .hentry h2 {
			font-size: 20px; line-height: 22px;
			margin-bottom: .5em; }
		.horizontal .hentry h3, .horizontal .item h3.titre { font-size: 18px; line-height: 20px; margin-bottom: .5em; }


	/* hentry dans .tabs (rubriques) */

	.tabs .hentry {
		border-top-width: 0;
		border-bottom-color: #000;
		padding: 0 0 1em; }

		.contenu-secondaire .tabs .hentry p.published {
			float: left; display: inline;
			width: 70px; }

		.tabs .hentry p.entry-content { margin-bottom: 0; }

		.contenu-secondaire .tabs .hentry .resume-conteneur {
			float: right; display: inline;
			width: 140px }


	/* présentation en grille */

	.grille h2.intertitre { border-bottom: 2px solid #000; }
	.grille .intro { margin-bottom: 1em; }

		.grille .hentry h2.entry-title { font-size: 14px; line-height: 18px; }
		.grille .hentry .published { line-height: 18px; }


/* listes */

	/* update (dernières mises à jour) */
	dl.update {  }
		.grille .update dt { border-bottom: 1px solid #000; margin-bottom: .5em; }
		.grille .update dd {
			border: none;
			margin: 0 0 0 1.3em;
			text-indent: -1.3em; }
			.grille .update dd a:before { content: "\2192\00A0"; }

	/* contenu présenté en liste (colonne secondaire dans article ou #tabs) : styles génériques */
	ul.liste {
		list-style-type: none; }
		ul.liste li { margin-left: 0; }
		ul.liste li, dl.liste {
			border-bottom: 1px dotted #000;
			padding-bottom: 1em; margin-left: 0; margin-bottom: 1em; }
			.liste h3 {
				font-size: 13px; line-height: 18px;
				margin-bottom: 0; }

		.mot ul.liste li { border-bottom-width: 0; }

	/* recherche : contenus en liste et en grille */
	.recherche .grille ul.liste li, .recherche .grille dl.liste {
		border-top: 2px solid #000;
		padding-top: 1em; padding-bottom: 0;
		border-bottom-width:0; }
	#breves ul.liste li { margin-bottom: 0; }
		.recherche .grille dl.liste h3 { font-size: 13px; line-height: 16px; margin-bottom: .3em; }
		.recherche .grille dl.liste p { font-size: 13px; line-height: 16px; }

	/* Rubrique annuaire > article > liste des tags */
	dl.annuaire-tags dt.region + dd { margin-bottom: 10px; }
	dl.annuaire-tags dd {
		font-size: 12px; line-height: 14px;
		margin-left: 22px; margin-bottom: 5px; }


	/* rubriquage #rubriques */
	#rubriques { border-top: 1px solid #000; }
			.page_article #rubriques { margin-top: 2em; }
		#rubriques ul.liste { margin-left: 1.5em; padding-top: .5em; }
			#rubriques ul.liste li {
				line-height: 18px;
				border-bottom-width: 0;
				list-style-type: none;
				margin: 0 0 .5em 0; padding:0;
				text-indent: -1.5em; }
				#rubriques ul.liste li a:before { font-size: 16px; content: "\2192\00A0"; }
				#rubriques ul.liste li ul { margin-left: 1.5em; margin-top: .5em; }

/* TODO à supprimer ? */
/*	ul.enumeration { margin-left: 1em; }
		ul.enumeration li { font-family: "Helvetica Neue"; list-style-type: none; margin: 0 0 0 1em; text-indent: -1.5em; padding:0; }
			ul.enumeration li strong:before, ul.enumeration li a:before { font-size: 16px; content: "\2192\00A0"; }
			ul.enumeration li ul { margin-left: 1.3em; }
*/
/*
		.liste h3, .hfeed.liste h3 {
			font-size: 13px; line-height: 18px;
			margin-bottom: 0; }
		.liste p.descriptif, .liste p.published {
			font-size: 12px; line-height: 18px;
			margin: 0; }
*/

/* article */
	/* date de publication et auteurs */
	#info-publi-objet-conteneur p { text-align: right; font-size: 13px; margin: 0; }
	#info-publi-objet-conteneur p.info-publi { border-top: 1px solid #000; padding-top: .5em; }

	/* chapo */
	#chapo-conteneur p { font-size: 15px; }


/* contenu secondaire */
	/* logo objet */
	#logo-objet-conteneur { margin-bottom: 2em; }

	/* mots-clés */
	#themes h3:before { content:'\2192\20'; }

	/* documents */
	#documents a { display:block; }
	#documents dl dt { float: left; width: 60px; }
	#documents dl dd { overflow: hidden; }
		#documents dl dd p { margin: 0; }
			#documents dl dd p span { display: block; color:#aaa; }

	/* #extra */
	#extra > div { margin-bottom: 2em; }

	/* syndication */
	.syndication > h3 {
		font-size: 15px;
		margin-bottom: 1em; }
		.syndication .groupe { border-bottom-width: 0; }
		.syndication .liste li { padding-bottom: 0; }
			.syndication .groupe .hentry { border-top-width: 0; padding-top: 0; }
				.syndication .groupe .hentry .resume-conteneur { width: 340px; }
				.syndication .liste .hentry h3 { font-size: 14px; margin-bottom: 9px; }
				.syndication .liste .hentry p, .enclosures { margin-bottom: 9px; }


/* messages d'informations */
.info-resultats { font-weight: bold; }

	/* recherche > page resultats */
	.page_recherche #chapo-conteneur p.info-resultats {
		font-size: 18px;
		text-align: center; padding: 2px 3px 3px;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px; }
	h2.info-resultats { font-size: 20px; border-top: 3px solid #000; }

	/* rubrique annuaire */
	.rubrique_annuaire .info-resultats {
		text-align: right;
		font-size: 20px; }


/* stages */

	/* zone d'actions : styles communs */
	.actions a.icon.ajouter { background-position: -73px -39px; }
	.actions a.icon.ajouter:hover { background-position: -73px -72px; }
	.actions a.icon.modifier { background-position: -5px -105px; }
	.actions a.icon.modifier:hover { background-position: -38px -105px; }
	.actions a.icon.supprimer { margin-right: 5px; background-position: -72px -105px; }
	.actions a.icon.supprimer:hover { background-position: -72px -138px; }
	.actions a.icon.trier { background-position: -4px -38px; }
	.actions a.icon.trier:hover { background-position: -38px -38px; }
	.actions a.trier.ouvert {
		background-position: -38px -38px;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.6) inset;
		   -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.6) inset;
		     -o-box-shadow: 2px 2px 4px rgba(0,0,0,.6) inset;
		        box-shadow: 2px 2px 4px rgba(0,0,0,.6) inset; }


	/* page de présentation/login/inscription */
	.rubrique_stages #stages-aiguillage, .rubrique_stages .texte { padding-left: 240px;  }
		#stages-aiguillage li { text-align: center; }
			#stages-aiguillage li h3 { text-align: left; }

	/* page profil */
		.page_profil h2 { font-size: 16px; border-bottom: 3px solid #999; }

		/* page profil > #extra #gestion-candidatures */
		#gestion-candidatures p.compteur-candidatures { text-align: left; font-size: 12px; margin: 0; }
		#gestion-candidatures ol {  }
		#gestion-candidatures li { margin-left: 0; }
			#gestion-candidatures li .bloc > p { margin: 0 0 .5em; font-size: 12px; }
		#gestion-candidatures div.actions { text-align: right; }
			#gestion-candidatures .actions p { float: right; margin: 0; }

	/* messagerie */
		/* navigation messagerie */
		#navigation-messagerie li {
			list-style-type: none;
			font-size: 14px;
			margin: 0 0 .5em; padding: 0;
			border-bottom: 1px solid #000; }
		#navigation-messagerie li.on { border-bottom-width: 2px; }
		#navigation-messagerie li span.info-nonlu { font-size: 12px; float: right; line-height: 23px; color: #f60; }
			/* dans la page profil (#extra) */
			#gestion-messages #navigation-messagerie li { font-size: 12px; }
			#gestion-messages #navigation-messagerie li span.info-nonlu { line-height: 18px; }


	/* consultation stages */
	#contenu #stages-identification { margin-top: 1.5em; }

		/* stages : zone d'action */
		.rubrique_stages .actions {
			border: 1px solid #000; border-width: 1px 0 0;
			text-align: right; }
			.actions #criteres-utilisateur {
				width: 700px;
				float: left; }
			.actions #actions-utilisateur {
				width: 220px;
				float: right; }
			.actions #formulaire_tri_stages {
				clear: both; width: 940px;
				border-bottom: 1px solid #000; }
				/* #actions-utilisateur */
				.actions ul, .actions dl { padding: .5em 0 0; margin: 0; }
				.actions li {
					list-style-type: none;
					display: inline; vertical-align: top;
					margin: 0 10px 0 0; }
				.actions li:last-child { margin-right: 0; }
			/* #criteres-utilisateur */
			.actions #criteres-utilisateur { text-align: left; }
				.actions dl dt { font-weight: bold; }
				.actions dl dd {
					margin: 7px 0 7px 10px; clear: both; line-height: 17px; }
					.actions dl dd span, .actions dl dd > a[title='supprimer'] {
						float: left; padding: 1px 3px 2px; }
					.actions dl dd span.data-env {
						border-left: 1px solid #e9e9e9;
						border-bottom: 1px solid #d3d3d3;
						border-top: 1px solid #e9e9e9; }
					.actions dl dd span.label {
						font-weight: bold; color: #666;
						border: 1px solid #fff; }
					.actions dl dd.formTypeCheckbox span.data-env { margin-right: 20px; }
					.actions dl dd a[title='supprimer'] {
						background: url('../images/sprite.png') no-repeat 0px 0px;
						margin: 0; padding: 0;
						width: 17px; height: 22px; }
						.actions dl dd span.data-env a[title='supprimer'] {
							margin-top: -2px; margin-bottom: -3px; margin-right: -17px; margin-left: 3px; float: right; }

		/* bouton depot d'une candidature */
		#depot-candidature { text-align: right; }

		/* bouton retour profil */
		.retour-profil { text-align: right; }

		/* page consultation stages : tableau des candidatures */
		#stages-affichage { padding: 1em 0; }

		/* tableau des stages */
		table#stages-table { width: 100%; border: 1px solid #000; border-width: 2px 0 1px; }
			#stages-table th { color: #fff; }
				#stages-table tr th { border-left: 1px solid #fff; }
				#stages-table th, #stages-table td {
					padding: 4px 6px 2px;
					font-size: 12px; }
			#stages-table tr:first-child th { font-weight: bold; }
				/* #stages-table .expand {  }*/
				#stages-table .expand .icon { width: 16px; height: 16px; }
				#stages-table .expand .icon.fermer { background-position: -43px -75px; }
				#stages-table .expand .icon.ouvert { background-position: -9px -75px; }
				#stages-table p { margin: 0 }
				#stages-table tr.enfant p { margin-bottom: .5em; margin-left: 28px; }
					#stages-table tr.enfant p .icon.mail {
						background-position: -5px -139px;
						margin-left: 10px; margin-top: 5px;
						vertical-align: bottom; }
					#stages-table tr.enfant p .icon:hover { background-position: -38px -139px; }

/* vcard */
	/* styles communs */
	.vcard h3 { margin: 0; font-size: 14px; }
		.vcard h3 span.referent { font-weight: normal; }
	.vcard p { margin: 0; }
	.vcard .adr span, .vcard .mail, .vcard .tel {
		padding-left: 22px; }
	.vcard .adr .locality, .vcard .adr .country-name { padding-left: 0; }
	.vcard .street-address, .vcard .mail, .vcard .tel { background: url('../images/pied-icones.png') no-repeat 0 0; }
	.vcard .street-address { background-position: 0 -160px; }
	.vcard .tel { background-position: 0 0; }
	.vcard .mail { background-position: 0 -29px; }
		.vcard .tel .type {display: none;}


/* bouton */

	/* http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */

	.bouton {
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase; text-decoration: none;
		color: #fff; background: #222 url('../images/alert-overlay.png') repeat-x;
		display: inline-block;
		position: relative;
		cursor: pointer;
		padding: 7px 10px 8px;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;

		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		     -o-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

	input.bouton, button.bouton  { border: 0; }

	/* tailles */
	.xsmall.bouton { font-size: 10px; padding: 5px 5px 4px; }
	.small.bouton { font-size: 11px; padding: 6px 5px 5px; }
	.medium.bouton { font-size: 12px; padding: 6px 5px 5px; }
	.large.bouton { font-size: 14px; padding: 8px 14px 9px; }

	/* couleurs (les couleurs dynamiques en fonction des rubriques sont définies dans couleurs.css) */
	.bouton.noir { background-color: #333 !important; }
	.bouton:hover.noir { background-color: #000 !important; }

	/* action */
	.bouton:hover { text-decoration: none; background-color: #111; color: #fff; }
	.bouton:active { top:1px; }

/* Jquery UI Tabs */
	/* styles communs (surcharges des styles de jquery ui) */
	.tabs.ui-widget-content { border: none; }
	.tabs .ui-corner-top a { font-weight: normal; }
		.tabs .ui-widget-header {
			background: none;
			border-width: 0 0 1px;
			-webkit-border-radius: 0;
			   -moz-border-radius: 0;
			        border-radius: 0; }
	.ui-tabs { padding: 0; }
	.ui-tabs .ui-tabs-nav { padding: 2px 0 0 5px; }
	.ui-tabs .ui-tabs-panel { margin-top: 1em; padding: 0; }
	.ui-tabs .ui-tabs-nav li { font-size: 13px; }
	.ui-tabs .ui-tabs-nav li.ui-state-default { background: none; border-color: #fff; }
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li.ui-state-hover {
		background: none;
		border-color: #000;
		border-top-left-radius: 0; border-top-right-radius: 0;
		background-color: #fff; }
	.ui-tabs .ui-tabs-nav li a { padding : 5px 4px; color: #aaa; }
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover { color: #000; }
	.ui-tabs .ui-tabs-nav li a:hover { color: #000; }
	.ui-tabs .related { margin-top: 1.5em; }

	/* page rubrique */

	/* page article > colonne secondaire */
	.tabs .ui-tabs-nav {  }
	.tabs .ui-tabs-nav li { font-size: 13px;  }

	/* annuaire > page article */
	#annuaire-contact .ui-tabs-nav li { font-size: 14px; }


/* Jquery UI Accordion */
	/* surcharges génériques des styles */
	.ui-accordion .ui-state-default {
		background: none; color: #999;
		padding-bottom: 5px; padding-top: 3px;
		border: 1px solid #ccc; border-width: 0 0 1px; }
	.ui-accordion .ui-state-active {
		padding-bottom: 5px; padding-top: 3px; color: #000;
		border: 1px solid #000; border-width: 0 0 1px; }
	.ui-accordion .ui-widget-content { border-width: 0 0 1px; border-bottom-color: #000; }
	.ui-accordion .ui-accordion-content { margin-top: 0; padding: .8em 0; }
		.ui-accordion .ui-accordion-header .uiHeader, .ui-accordion .ui-accordion-header a { margin-left: 0; padding: 0; }

	/* stages > profil > #extra */
	#accordeon-candidatures { margin-top: 1em; }
		#accordeon-candidatures .ui-state-hover { color: #000; }
		#accordeon-candidatures .ui-accordion-li-fix { display: block; }

	/* rubrique ressources */
	#ressources .ui-accordion-header.ui-state-active { border-width: 0 0 2px; }
	#ressources .ui-accordion-header a { font-size: 16px; }
	#ressources .ui-accordion-content { padding: 10px 0 0; margin-bottom: 5px; }
		#ressources .groupe .hentry { margin-bottom: 0; border-top-width: 1px; }
		#ressources .groupe .hentry:first-child { border-top: none; padding-top: 0; }
		#ressources .ui-accordion-content h2 { font-size: 16px; }

/* Jquery UI Dialog */
.ui-dialog {
	padding: 0;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px; }
.ui-dialog.ui-widget-content { border: 8px solid rgba(0,0,0,0.5); }
	.ui-dialog .ui-widget-header {
		background: none; background-color: #000; color: #fff; border: none; }
	.ui-dialog .ui-dialog-content p { margin: 0; }

