/* ======================================== */
/*	Site : 		FRAAP						*/
/*	URL : 		fraap.org					*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2011						*/
/*	Version :	2.0							*/
/* ======================================== */

/* liens */
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: color .35s linear;
	   -moz-transition: color .35s linear;
	     -o-transition: color .35s linear;
	        transition: color .35s linear; }
a:visited {  }
a:hover { text-decoration: underline; color: #000; }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }
.textecourant a { text-decoration: underline; }
span.suite a:after, a.suite:after { content:"\00A0\2192"; }
#contenu a, #fil a, #pied a { font-weight: bold; }
#tabs a { font-weight: normal; }


/* filets */
.filet, .filetH { border-top: 2px solid #000; }
.filetH3px { border-top: 3px solid #000; }
.filets2px { border: 2px solid #000; border-width: 2px 0 1px; }
.filets, .filets2px { border: 2px solid #000; border-width: 2px 0 1px; }
.filet3px { border: 3px solid #000; border-width: 3px 0 1px; }
.filetB { border-bottom: 1px solid #000; }


/* logo des objets */
.logo-objet {
	outline: 1px solid #e9e9e9;
	border-top: 1px solid #fff;
	margin-top: 5px;
	padding: 10px;
	background: #f7f7f7; }
a.img { display: block; float: left; }

/* puce Spip */
img.puce { background-color: #000; }

/* texte courant */
	.textecourant p, p.intro,
	.textecourant ul, .textecourant ol { font-size: 14px; }

/* notes */
	.notes h2.spip { font-size: 16px; }
	.notes.textecourant p { font-size: 12px; }

/* pagination */
.pagination {
	font-size: 12px;
	clear: both; text-align: right;
	color: #999;
	margin: 0 0 1em; }
	.pagination * { display: block; float: left; margin-right: 5px; }
	.pagination *:last-child { margin-right:0; }
	.pagination .pagination-conteneur { float: right; padding-left: 10px; padding-right: 5px; }
	.pagination.haut .pagination-conteneur { border-top: 1px dotted #000; }
	.pagination.bas .pagination-conteneur { border-bottom: 1px dotted #000; }
		.pagination strong { color: #fff; background-color: #000; padding: 0 3px; border: 1px solid #000; }
		.pagination a { border: 1px solid #000; padding: 0 3px 1px; }
		.pagination.haut a { border-top-width: 0; }
		.pagination.bas a { border-bottom-width: 0; }
		.pagination .separateur { display: none; }


/* une */
/* div.une.item, dl.une dd.item {
	margin-bottom: 2em;
	border-bottom: 1px solid #000; }
	div.une.item { width: 218px; }
	dl.une dd.item div { width: 578px; }
		.une h2 { border-bottom: 2px solid #000; margin-bottom: .5em; }

	div.une.over, dl.une dd.item.over {  }
*/
.une dd {
	margin-bottom: 2em;
	border-bottom: 1px solid #000; }


/* hfeed */
	/* page rubrique et sommaire */
	.groupe .hentry {
		border-top: 2px solid #000;
		padding-top: 1em; margin-bottom: 1em; }

		.groupe .hentry .published {
			color: #999;
			line-height: 22px;
			float: left; display: inline;
			margin-right: 10px;
			width: 100px; }

		.groupe .hentry .logo-objet {
			float: left;
			margin: 1px 19px 1px 1px; }

		.groupe .hentry .resume-conteneur {
			float: left; display: inline;
			margin-left: 10px; }

		.hfeed .intro { overflow: hidden; }
		.groupe .hfeed h2.entry-title { }

		.groupe h2.intertitre { margin-bottom: 0; }

	/* format horizontal */
	.horizontal .hentry .resume-conteneur { width: 580px; }
		.groupe .hentry h2 {
			font-size: 20px; line-height: 22px;
			margin-bottom: .5em; }
		.horizontal .hentry h3 { font-size: 18px; line-height: 20px; margin-bottom: .5em; }

	/* format grille */
	.grille {
		display: inline;
		float: left;
		margin-right: 10px; margin-left: 10px;
		width: 340px; }
		.grille .hentry .resume-conteneur { width: 220px; }

	/* hentry dans #tabs (rubriques) */

	#tabs .hentry {
		border-top-width: 0;
		border-bottom-color: #000;
		padding: 0 0 1em; }

		.page_article #tabs .hentry p.published {
			float: left; display: inline;
			width: 70px; }

		#tabs .hentry p.entry-content { margin-bottom: 0; }

		.page_article #tabs .hentry .resume-conteneur {
				float: right; display: inline;
						width: 140px }


	/* présentation en grille */

	.grille h2.intertitre { border-bottom: 2px solid #000; }
	.grille .intro { margin-bottom: 1em; }

		.grille .hentry h2.entry-title { font-size: 14px; line-height: 18px; }
		.grille .hentry .published { line-height: 18px; }


/* listes */

	/* update (dernières mises à jour) */
	dl.update {  }
		.grille .update dt { border-bottom: 1px solid #000; margin-bottom: .5em; }
		.grille .update dd {
			border: none;
			margin: 0 0 0 1.3em;
			text-indent: -1.3em; }
			.grille .update dd a:before { content: "\2192\00A0"; }


	/* rubriquage #rubriques */
	#rubriques ul.liste { border-bottom: 1px dotted #000; padding-left: 10px; }
		#rubriques ul.liste li {
			border-bottom-width: 0;
			list-style-type: none;
			margin: 0 0 .5em 1em; padding:0;
			text-indent: -1.5em; }
			#rubriques ul.liste li strong:before, #rubriques ul.liste li a:before { font-size: 16px; content: "\2192\00A0"; }
			#rubriques ul.liste li ul { margin-left: 1.3em; }
	ul.enumeration { margin-left: 1em; }
		ul.enumeration li { font-family: "Helvetica Neue"; list-style-type: none; margin: 0 0 0 1em; text-indent: -1.5em; padding:0; }
			ul.enumeration li strong:before, ul.enumeration li a:before { font-size: 16px; content: "\2192\00A0"; }
			ul.enumeration li ul { margin-left: 1.3em; }

	/* contenu présenté en liste (colonne secondaire dans article ou #tabs) : styles génériques */
	ul.liste {
		list-style-type: none; }

		ul.liste li { margin-left: 0; }
		ul.liste li, dl.liste {
			border-bottom: 1px dotted #000;
			padding-bottom: 1em; margin-left: 0; margin-bottom: 1em; }
			.liste h3 {
				font-size: 13px; line-height: 18px;
				margin-bottom: 0; }

/*
		.liste h3, .hfeed.liste h3 {
			font-size: 13px; line-height: 18px;
			margin-bottom: 0; }
		.liste p.descriptif, .liste p.published {
			font-size: 12px; line-height: 18px;
			margin: 0; }
*/

/* article */
	/* date de publication et auteurs */
	#info-publi-objet-conteneur { margin-top: 1em; }
		#info-publi-objet-conteneur p { text-align: right; font-size: 13px; margin: 0; }
		#info-publi-objet-conteneur p.info-publi { border-top: 1px solid #000; padding-top: .5em; }

	/* chapo */
	#chapo-conteneur p { font-size: 15px; }


/* contenu secondaire */
	/* mots-clés */
	#themes {}
		#themes h3:before { content:'\2192\20'; }

	/* documents */
	#documents {}
	#documents dl {}
		#documents a { display:block; }
		#documents dl dt { float: left; width: 60px; }
		#documents dl dd { overflow: hidden; }
			#documents dl dd p span { display: block; color:#aaa; }


/* stages */

	/* page de présentation/login/inscription */
	#stages-aiguillage { padding-left: 240px; }
		#stages-aiguillage li { text-align: center; }
			#stages-aiguillage li h3 { text-align: left; }

	/* page profil */
		.page_profil h2 { font-size: 16px; border-bottom: 3px solid #999; }

		/* page profil > #extra */
		.page_profil #extra ol { margin-left: 1.5em; }
		.page_profil #extra li { margin-left: 0; margin-bottom: 1em;  }
			.page_profil #extra li p { margin: 0; }

	/* consultation stages */
	#contenu #stages-identification { margin-top: 1.5em; }
		/* consultation stages > #navigation */
		.navigation-tri-stages h2 {
			border-bottom: 2px solid #000;
			font-size: 1.5em; line-height: 1em;
			margin: 0 0 1em; }


		/* page consultation stages tableau des candidatures */
		table#stages-table { width: 100%; border-bottom: 1px solid #000; }
			#stages-table th {
				color: #fff;
				border: 1px solid #fff; }
			#stages-table tr:first-child th {
				font-weight: bold;
				border-top: 2px solid #000; border-bottom-color: #fff; }
				#stages-table tr:first-child th:first-child { border-left: 1px solid red; }
			#stages-table th, #stages-table td {
				padding: 4px 6px 2px;
				font-size: 12px; }
			#stages-table td {  }
				#stages-table p { margin: 0; }

/* vcard */
.vcard h3 { margin: 0; font-size: 12px; }
	.vcard p { margin: 0; }
	#pied .vcard a {
		display: block;
		background: url('../images/pied-icones.png') no-repeat 0 0;
		padding-left: 22px; }
		#pied .vcard .adr a { background-position: 0 -160px; }
		#pied .vcard .mail a { background-position: 0 -29px; }
		#pied .vcard .url a { background-position: 0 -61px; }
	.vcard span.type { display: none; }
	.vcard span.fn { font-weight: bold; }


/* bouton */

	/* http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */

	.bouton,a:visited.bouton {
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase; text-decoration: none;
		color: #fff; background: #222 url('../images/alert-overlay.png') repeat-x;
		display: inline-block;
		position: relative;
		cursor: pointer;
		padding: 7px 10px 8px;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;

		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		     -o-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

	input.bouton { border: 0; }

	/* tailles */
	.xsmall.bouton { font-size: 10px; padding: 5px 5px 4px; }
	.small.bouton { font-size: 11px; padding: 6px 5px 5px; }
	.medium.bouton { font-size: 12px; padding: 6px 5px 5px; }
	.large.bouton { font-size: 14px; padding: 8px 14px 9px; }

	/* couleurs (les couleurs dynamiques en fonction des rubriques sont définies dans couleurs.css) */
	.bouton.noir { background-color: #333 !important; }
	.bouton:hover.noir { background-color: #000 !important; }

	/* actions */
	.bouton:hover { text-decoration: none; background-color: #111; color: #fff; }
	.bouton:active { top:1px; }

/* Jquery UI Tabs */
#tabs.ui-widget-content { border: none; }
	#tabs .ui-widget-header {
		background: none;
		border-width: 0 0 1px;
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0; }
.ui-tabs {  }
.ui-tabs .ui-tabs-nav {
	margin : 0; padding: 0;
	border-bottom : 2px solid #000; }
.ui-tabs .ui-tabs-panel { margin-top: 1em; padding: 0; }
.ui-tabs .ui-tabs-nav li {
	margin : 0 0 -1px 4px;
	border: 1px solid #fff;
	font-size: 13px; }
.page_rubrique .ui-tabs .ui-tabs-nav li { font-size: 13px; }
.ui-tabs .ui-tabs-nav li.ui-state-default { background: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li.ui-state-hover {
	border-color: #000;
	border-top-left-radius: 0; border-top-right-radius: 0;
	background: #fff; }
.ui-tabs .ui-tabs-nav li a { padding : 5px 4px; color: #ccc; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover { color: #000; }
.ui-tabs .ui-tabs-nav li a:hover { color: #666 }
.ui-tabs .related { margin-top: 1.5em; }
