@use "../tools";
@use "../settings";
@use "sass:map";

body {
  background-color: map.get(settings.$gorko-colors, "light-glare");
  color: map.get(settings.$gorko-colors, "dark-shade");
  font-family: tools.get-utility-value("font", "base");
  font-weight: normal;
}
