@use "../tools";
@use "../settings";
@use "sass:map";

body {
  background-color: map.get(settings.$gorko-colors, "light");
  color: map.get(settings.$gorko-colors, "dark");
  font-family: tools.get-utility-value("font", "base");
  font-weight: normal;
}
