
// @use "../tools";
@use "../settings";
@use "sass:map";
@use "sass-rem/rem";

:focus {
  outline: rem.convert(2px) dotted map.get(settings.$gorko-colors, "primary-dark");
  outline-offset: rem.convert(1px);
}

main:focus {
  outline: none;
}
