// ========================================
// Form fields
// ========================================

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  border: none;
  cursor: pointer;
  margin: 0;
  flex: none;

  label + & {
    transform: translateY(0.5ex);
  }
}

input[type="checkbox"] {
  width: min(1.13em, 18px);
  height: min(1.13em, 18px);
}
