/* ======================================== */
/*	Site : 		FRAAP						*/
/*	URL : 		fraap.org					*/
/*	Author : 	christophe le drean			*/
/*				rouge-rose.net				*/
/*	Date :		2011						*/
/*	Version :	2.0							*/
/* ======================================== */

#grille { position: absolute; top: 5px; left: 5px; }
.gs { background: #fff url('../images/16_col.gif') repeat-y top center; }

/* mise en page */

#page { position: relative; }

	#contenu { margin-bottom: 3em; }

	.page_sommaire #contenu { margin-top: 2em; }
	.page_rubrique #contenu, .page_article #contenu {
		float:right; display: inline;
		margin-right: 10px;
		width: 700px; }
	
	


/* titre des pages */
#titre { margin: 2em 10px 1em; }



/* liens */
a {
	-webkit-transition: color .35s linear;
	   -moz-transition: color .35s linear;
	     -o-transition: color .35s linear;
	        transition: color .35s linear;
	text-decoration: none; color: #000; }
a:visited {  }
a:hover { text-decoration: underline; }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }
a.suite:after {
	font-family: "Helvetica Neue";
	content:"\00A0\2192"; }
#contenu a, #pied a { font-weight: bold; }

/* entete */
#entete { margin-top: 4em; }
#logo { position: relative; }
	#logo h1 { margin: 9px 0; }
	#baseline {
		font-size: 24px;
		position: absolute; top: -2em;
		width: 960px; }

/* fil d'ariane */
#fil { margin-bottom: 2em; }
	#fil .ariane {
		border: 1px dotted #000; border-width: 1px 0 1px; }
		#fil .ariane li {
			float: left;
			margin-right: 10px; }

/* rubriques */
.descriptif {
	font-size: 14px;
	margin-bottom: 3em; }

/* pied de page */
#pied { margin-top: 1em; margin-bottom: 2em; }
	#pied .groupe {  }
	#pied .colonne {
		float: left; display: inline;
		margin-right: 10px; }
		#pied h2 { font-size: 14px; margin: 1em 0; }
	#pied .colonne:last-child {  }
		#pied .about { width: 220px; }
		#pied .vcard { border-left: 1px solid #ccc; padding-left: 10px; }

	#pied .follow { margin-top: 1em; }
		#pied .follow li {
			font-size: 14px;
			padding-left: 19px;
			margin-bottom: .25em;
			background: url('../images/pied-icones.png') no-repeat; }
		#pied .follow .facebook { background-position: 0 -62px; }
		#pied .follow .rss { background-position: 0 -94px; }
		#pied .follow .credits { background-position: 0 -126px; }


/* vcard */
.vcard h3 { margin: 0; font-size: 12px; }
	.vcard p { margin: 0; }
	.vcard a {
		display: block;
		background: url('../images/pied-icones.png') no-repeat 0 0;
		padding-left: 22px; }
		.vcard .adr a { background-position: 0 -160px; }
		.vcard .mail a { background-position: 0 -29px; }
		.vcard .url a { background-position: 0 -61px; }
	.vcard span.type { display: none; }


/* menus */
.menu > ul {
	display: inline; float: left;
	margin: 0 10px; }
.menu > ul:first-child { margin-left: 0; }
.menu > ul:last-child { margin-right: 0; }
	.menu li {
		text-align: right;
		list-style-type: none;
		margin: 0; }

	/* nav */
	#nav ul {
		height: 88px;
		width: 220px;
		border-bottom: 1px solid #000; }
		#nav ul ul { border-bottom-width: 0; }
		#nav li {  }
			#nav li a {
				padding: 1px 0 2px;
				display: block; }

		#nav li.on { xbackground-color: #ddd; }

		/* dropdown */
		li.has-dropdown {
			position: relative;
			padding-right: 14px;
			background: url('../images/icones.png') no-repeat 100% -94px; }
		li.has-dropdown:hover { background-position: 100% -138px; }
			li.has-dropdown:hover > a { color:#000; }
			li.has-dropdown:hover ul.dropdown { visibility: visible; }
				ul.dropdown { position: absolute; visibility: hidden; }
					ul.dropdown li {
						padding: 3px 2px 4px;
						border: 1px solid #fff; border-width: 0 1px 1px; border-color: #fff #000;
						background-color: #000; }
					ul.dropdown li:first-child { border-top-width: 1px;  }
					ul.dropdown li:last-child, ul.dropdown li:hover:last-child {
						border-bottom-color: #000;
						webkit-border-bottom-right-radius: 6px;
						-webkit-border-bottom-left-radius: 6px;
						-moz-border-radius-bottomright: 6px;
						-moz-border-radius-bottomleft: 6px;
						border-bottom-right-radius: 6px;
						border-bottom-left-radius: 6px; }
						ul.dropdown li > a  { color: #fff;  }
						ul.dropdown li:hover > a { color: #000; }


	/* raccourcis */
	#raccourcis {
		margin: 0 10px;
		width: 940px; clear: both; }

		/* formulaire recherche */
		#raccourcis #recherche {
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			text-align: right;
			background-color: #5a005a;
			width: 940px; }
			#recherche form {
				margin: 1em 0 1em 485px;
				float:left; }
				#recherche label { display: none; }
				#recherche input[type=text] {
					background: #fff url('../images/icones.png') no-repeat 1px 1px;
					border: 1px solid #900090; border-color: #650065 #900090 #900090 #650065;
					font-size: 12px;
					padding-left: 20px;
					width: 317px; }
				#recherche input[type=text]:focus { background-position: 1px -31px; }
				#recherche .submit {
					-webkit-transition: background-color .2s linear, border-color .1s linear;
					   -moz-transition: background-color .2s linear, border-color .1s linear;
					     -o-transition: background-color .2s linear, border-color .1s linear;
					        transition: background-color .2s linear, border-color .1s linear;
					background-color: #909; color: #fff;
					text-transform: uppercase; font-size: 11px;
					border: 1px solid #909; border-color: #909 #4b004b #4b004b #909;
}
				#recherche .submit:hover {
				background-color: purple;
				border-color: #909 #4b004b #4b004b #b100b1; }
				#recherche .submit:active {
					border-color: #4b004b #b100b1 #b100b1 #4b004b;
					background-color: #650065; }
				#recherche input[type=text], #recherche .submit {
					-webkit-border-radius: 4px;
					   -moz-border-radius: 4px;
					        border-radius: 4px; }
		#raccourcis ul {
			margin:0;
			padding-left: 470px; }
			#raccourcis ul li {
				font-size: 12px;
				float: left;
				margin: 0 10px 0;
				min-height: 3.25em;
				width: 100px; }
			#raccourcis ul li:last-child { margin-right: 0; }
			#raccourcis ul li.on { margin-top: 0; border-color: #5a005a; border-top-width: 8px; }
			#raccourcis ul li.marge { margin-top: 4px; }
			#raccourcis ul li.recherche {
				position: relative; }
				#raccourcis ul li.on a { color: #5a005a; }

/* hfeed */
	dl.hfeed {  }
		.hfeed dt {
			font-size: 23px; font-weight: bold;
			border-bottom: 2px solid #000;
			margin-bottom: .5em; }

	div.hfeed { border-top: 2px solid #000; }
		div.hentry {
			border-bottom: 1px solid #000;
			padding-top: .5em; margin-bottom: 1em; }

			.hfeed .published {
				color: #aaa;
				line-height: 22px; }
			.hfeed .entry-title {
				font-size: 18px; line-height: 22px;
				margin-bottom: .5em; }

	/* présentation en liste */
		.liste .hentry  {
			margin-bottom: .5em;
			border-bottom: 1px dotted #000; }
			.liste .hentry h3.entry-title {
				font-size: 12px; line-height: 18px;
				margin-bottom: .5em; }
			.liste .hentry .published {
				font-size: 11px; line-height: 18px;
				margin-bottom: .5em; }

	/* présentation en grille */
		.grille .hentry h2.entry-title { font-size: 16px; line-height: 18px; }
		.grille .hentry .published { line-height: 18px; }


/* filets */
.filet, .filetH { border-top: 2px solid #000; }
.filets { border: 2px solid #000; border-width: 2px 0 1px; }
.filetB { border-bottom: 1px solid #000; }

/* une */
div.une.item, dl.une dd.item {
	margin-bottom: 2em;
	border-bottom: 1px solid #000; }
div.une.item { width: 218px; }
dl.une dd.item div { width: 578px; }
	.une h2 { border-bottom: 2px solid #000; margin-bottom: .5em; }

div.une.over, dl.une dd.item.over {  }


/* Jquery UI Tabs */

.ui-tabs { padding: 0; }
.ui-tabs .ui-tabs-nav {
	margin : 0;
	border-bottom : 1px solid #000; }
.ui-tabs .ui-tabs-panel { margin-top: 1em; padding: 0; }
.ui-tabs .ui-tabs-nav li {
	margin : 0 0 -1px 5px;
	xbackground : rgb(255,255,255);
	xfont-size: 13px;
	xborder-color: rgba(233, 233, 241, 0.5) rgba(198, 198, 205, 0.5) rgba(200, 200, 207, 0.5) rgba(233, 233, 241, 0.5);
	xborder-top-left-radius: 3px; xborder-top-right-radius: 3px;
	xbackground: -moz-linear-gradient(top, #ffffff 0%, #E5E6E5 100%);
	xbackground: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#E5E6E5)); }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav xli.ui-state-hover {
	x-webkit-border-top-left-radius: 3px; x-webkit-border-top-right-radius: 3px;
	x-moz-border-radius-topleft: 3px; x-moz-border-radius-topright: 3px;
	xborder-top-left-radius: 3px; xborder-top-right-radius: 3px;
	border : 1px solid rgb(200,200,207);
	border-color: rgb(233, 233, 241) rgb(198, 198, 205) rgb(200, 200, 207) rgb(233, 233, 241);
	border-color: #000;
	background: #fff; }
.ui-tabs .ui-tabs-nav li a { padding : .5em 10px; color: #666; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color: #000; }
.ui-tabs .ui-tabs-nav li a:hover {  }

.ui-tabs .related { margin-top: 1.5em; }


/* listes */
	/* pas de style */
	ul.ns li { list-style-type: none; margin: 0; }

	/* enumeration */
	ul.enumeration { margin-left: 1em; }
		ul.enumeration li { font-family: "Helvetica Neue"; list-style-type: none; margin: 0 0 0 1em; text-indent: -1.5em; padding:0; }
			ul.enumeration li strong:before, ul.enumeration li a:before { font-size: 16px; content: "\2192\00A0"; }
			ul.enumeration li ul { margin-left: 1.3em; }