/// COLORS

@use "../settings" as var;
@use "sass:map";
@use "sass:color";
@use "sass:math";
@use "../mixins/background-svg" as _backgroundSvg;

// défaut et theme = 1 => lime/royal-blue
$lime-600: map.get(var.$lime, "600");
$card-backgroundImage: _backgroundSvg.svg-url('<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M1.5.134C1.022-.142.41.022.134.5-.142.978.022 1.59.5 1.866L1.5.134ZM5.5 4.134C5.022 3.858 4.41 4.022 4.134 4.5 3.858 4.978 4.022 5.59 4.5 5.866L5.5 4.134Z" fill="' + $lime-600 + '"/></svg>');

:root, [data-theme-color="1"] {
  --color-ink: #{var.$black};
  --color-ink-soft: #{map.get(var.$gray, "blue", "500")};
  --color-paper: #{var.$white};
  --color-primary: #{map.get(var.$lime, "500")};
  --color-contrast: #{map.get(var.$royal-blue, "500")};
  --color-contrast-400: #{map.get(var.$royal-blue, "400")};
  --color-primary-100: #{map.get(var.$lime, "100")};
  --color-primary-200: #{map.get(var.$lime, "200")};
  --color-primary-300: #{map.get(var.$lime, "300")};
  --color-primary-400: #{map.get(var.$lime, "400")};
  --color-primary-600: #{$lime-600};
  --color-primary-700: #{map.get(var.$lime, "700")};
  --color-primary-800: #{map.get(var.$lime, "800")};
  --color-link: var(--color-contrast);
  --color-link-invert: #{var.$white};
  --color-disabled: #{map.get(var.$gray, "blue", "400")};

  --boxShadow-primary: 0px 4px 15px #{rgba(map.get(var.$lime, "800"), 0.2)}, 0 1px 4px #{rgba(map.get(var.$lime, "500"), 0.2)};

  // card
  --card-backgroundImage: #{$card-backgroundImage};
  --card-box-boxShadow: 0 5px 15px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba((map.get(var.$lime, "500")), 0.5)};
  --card-img-boxShadow: 0 4px 4px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba(map.get(var.$lime, "500"), 0.2)};

  // dialog
  --dialog-overlay-background: #{rgba(map.get(var.$gray, "blue", "300"), 0.6)};

  // icon
  --color-icon-nav-fill: none;
  --color-icon-nav-back-stroke: var(--color-link-invert);

  // underline
  --underline-color: var(--color-primary);
}

// 2 => yellow/disco
$yellow-600: map.get(var.$yellow, "600");
$card-backgroundImage: _backgroundSvg.svg-url('<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M1.5.134C1.022-.142.41.022.134.5-.142.978.022 1.59.5 1.866L1.5.134ZM5.5 4.134C5.022 3.858 4.41 4.022 4.134 4.5 3.858 4.978 4.022 5.59 4.5 5.866L5.5 4.134Z" fill="' + $yellow-600 + '"/></svg>');

[data-theme-color="2"] {
  --color-primary: #{map.get(var.$yellow, "500")};
  --color-primary-100: #{map.get(var.$yellow, "100")};
  --color-primary-200: #{map.get(var.$yellow, "200")};
  --color-primary-300: #{map.get(var.$yellow, "300")};
  --color-primary-400: #{map.get(var.$yellow, "400")};
  --color-primary-600: #{$yellow-600};
  --color-primary-700: #{map.get(var.$yellow, "700")};
  --color-primary-800: #{map.get(var.$yellow, "800")};
  --color-contrast: #{map.get(var.$disco, "500")};
  --color-contrast-400: #{map.get(var.$disco, "400")};
  --color-link: var(--color-contrast);

  --boxShadow-primary: 0px 4px 15px #{rgba(map.get(var.$yellow, "800"), 0.2)}, 0 1px 4px #{rgba(map.get(var.$yellow, "500"), 0.2)};

  // card
  --card-backgroundImage: #{$card-backgroundImage};
  --card-box-boxShadow: 0 5px 15px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba((map.get(var.$yellow, "500")), 0.5)};
  --card-img-boxShadow: 0 4px 4px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba(map.get(var.$yellow, "500"), 0.1)};
}

// 3 =>
$mint-600: map.get(var.$mint, "600");
$card-backgroundImage: _backgroundSvg.svg-url('<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M1.5.134C1.022-.142.41.022.134.5-.142.978.022 1.59.5 1.866L1.5.134ZM5.5 4.134C5.022 3.858 4.41 4.022 4.134 4.5 3.858 4.978 4.022 5.59 4.5 5.866L5.5 4.134Z" fill="' + $mint-600 + '"/></svg>');

[data-theme-color="3"] {
  --color-primary: #{map.get(var.$mint, "500")};
  --color-primary-100: #{map.get(var.$mint, "100")};
  --color-primary-200: #{map.get(var.$mint, "200")};
  --color-primary-300: #{map.get(var.$mint, "300")};
  --color-primary-400: #{map.get(var.$mint, "400")};
  --color-primary-600: #{$mint-600};
  --color-primary-700: #{map.get(var.$mint, "700")};
  --color-primary-800: #{map.get(var.$mint, "800")};
  --color-contrast: #{map.get(var.$eggplant, "500")};
  --color-contrast-400: #{map.get(var.$eggplant, "400")};
  --color-link: var(--color-contrast);

  --boxShadow-primary: 0px 4px 15px #{rgba(map.get(var.$mint, "800"), 0.2)}, 0 1px 4px #{rgba(map.get(var.$mint, "500"), 0.2)};

  // card
  --card-backgroundImage: #{$card-backgroundImage};
  --card-box-boxShadow: 0 5px 15px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba((map.get(var.$mint, "500")), 0.5)};
  --card-img-boxShadow: 0 4px 4px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba(map.get(var.$mint, "500"), 0.1)};
}


// 4 =>
$palmas-600: map.get(var.$palmas, "600");
$card-backgroundImage: _backgroundSvg.svg-url('<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M1.5.134C1.022-.142.41.022.134.5-.142.978.022 1.59.5 1.866L1.5.134ZM5.5 4.134C5.022 3.858 4.41 4.022 4.134 4.5 3.858 4.978 4.022 5.59 4.5 5.866L5.5 4.134Z" fill="' + $palmas-600 + '"/></svg>');

[data-theme-color="4"] {
  --color-primary: #{map.get(var.$palmas, "500")};
  --color-primary-100: #{map.get(var.$palmas, "100")};
  --color-primary-200: #{map.get(var.$palmas, "200")};
  --color-primary-300: #{map.get(var.$palmas, "300")};
  --color-primary-400: #{map.get(var.$palmas, "400")};
  --color-primary-600: #{$palmas-600};
  --color-primary-700: #{map.get(var.$palmas, "700")};
  --color-primary-800: #{map.get(var.$palmas, "800")};
  --color-contrast: #{map.get(var.$blue, "500")};
  --color-contrast-400: #{map.get(var.$blue, "400")};
  --color-link: var(--color-contrast);

  --boxShadow-primary: 0px 4px 15px #{rgba(map.get(var.$palmas, "800"), 0.2)}, 0 1px 4px #{rgba(map.get(var.$palmas, "500"), 0.2)};

  // card
  --card-backgroundImage: #{$card-backgroundImage};
  --card-box-boxShadow: 0 5px 15px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba((map.get(var.$palmas, "500")), 0.5)};
  --card-img-boxShadow: 0 4px 4px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba(map.get(var.$palmas, "500"), 0.1)};
}


// 5 =>
$heliotrope-600: map.get(var.$heliotrope, "600");
$card-backgroundImage: _backgroundSvg.svg-url('<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M1.5.134C1.022-.142.41.022.134.5-.142.978.022 1.59.5 1.866L1.5.134ZM5.5 4.134C5.022 3.858 4.41 4.022 4.134 4.5 3.858 4.978 4.022 5.59 4.5 5.866L5.5 4.134Z" fill="' + $heliotrope-600 + '"/></svg>');

[data-theme-color="5"] {
  --color-primary: #{map.get(var.$heliotrope, "500")};
  --color-primary-100: #{map.get(var.$heliotrope, "100")};
  --color-primary-200: #{map.get(var.$heliotrope, "200")};
  --color-primary-300: #{map.get(var.$heliotrope, "300")};
  --color-primary-400: #{map.get(var.$heliotrope, "400")};
  --color-primary-600: #{$heliotrope-600};
  --color-primary-700: #{map.get(var.$heliotrope, "700")};
  --color-primary-800: #{map.get(var.$heliotrope, "800")};
  --color-contrast: #{map.get(var.$minsk, "500")};
  --color-contrast-400: #{map.get(var.$minsk, "400")};
  --color-link: var(--color-contrast);

  --boxShadow-primary: 0px 4px 15px #{rgba(map.get(var.$heliotrope, "800"), 0.2)}, 0 1px 4px #{rgba(map.get(var.$heliotrope, "500"), 0.2)};

  // card
  --card-backgroundImage: #{$card-backgroundImage};
  --card-box-boxShadow: 0 5px 15px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba((map.get(var.$heliotrope, "500")), 0.5)};
  --card-img-boxShadow: 0 4px 4px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba(map.get(var.$heliotrope, "500"), 0.1)};
}


// 6 =>
$dodger-blue-600: map.get(var.$dodger-blue, "600");
$card-backgroundImage: _backgroundSvg.svg-url('<svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M1.5.134C1.022-.142.41.022.134.5-.142.978.022 1.59.5 1.866L1.5.134ZM5.5 4.134C5.022 3.858 4.41 4.022 4.134 4.5 3.858 4.978 4.022 5.59 4.5 5.866L5.5 4.134Z" fill="' + $dodger-blue-600 + '"/></svg>');

[data-theme-color="6"] {
  --color-primary: #{map.get(var.$dodger-blue, "500")};
  --color-primary-100: #{map.get(var.$dodger-blue, "100")};
  --color-primary-200: #{map.get(var.$dodger-blue, "200")};
  --color-primary-300: #{map.get(var.$dodger-blue, "300")};
  --color-primary-400: #{map.get(var.$dodger-blue, "400")};
  --color-primary-600: #{$dodger-blue-600};
  --color-primary-700: #{map.get(var.$dodger-blue, "700")};
  --color-primary-800: #{map.get(var.$dodger-blue, "800")};
  --color-contrast: #{map.get(var.$bordeaux, "500")};
  --color-contrast-400: #{map.get(var.$bordeaux, "400")};
  --color-link: var(--color-contrast);

  --boxShadow-primary: 0px 4px 15px #{rgba(map.get(var.$dodger-blue, "800"), 0.2)}, 0 1px 4px #{rgba(map.get(var.$dodger-blue, "500"), 0.2)};

  // card
  --card-backgroundImage: #{$card-backgroundImage};
  --card-box-boxShadow: 0 5px 15px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba((map.get(var.$dodger-blue, "500")), 0.5)};
  --card-img-boxShadow: 0 4px 4px #{rgba((var.$black), 0.2)}, 0 1px 2px #{rgba(map.get(var.$dodger-blue, "500"), 0.1)};
}
