@use "../settings";
@use "sass:math";
@use "../tools/gorko" as gorko;
@use "../tools/mq" as mq;

$layout-width-max: math.div(settings.$FRAAP-LAYOUT-WIDTH-MAX, 16) * 1rem;

:root {
  --angle-sin: 0.052;
  --auto-grid-placement: auto-fit;
  --auto-grid-gutter: var(--space-m-xl);
  --auto-grid-gutter-column: var(--space-m-xl);
  --auto-grid-gutter-row: var(--space-xl);
  --auto-grid-min-item-size: 250px;
  --buttonCta-fontsize: var(--step-0);
  --carousel-zindex: #{gorko.get-utility-value("stack", "100")};
  --card-icon-size: 1.2em;
  --card-flow-space: 1.75rem;
  --dialog-zindex: #{gorko.get-utility-value('stack', '400')};
  --icon-nav-border-radius: 100%;
  --icon-nav-padding: 8px;
  --icon-nav-size: 32px;
  --layout-width-max: #{$layout-width-max};
  --section-marginBottom: 0;
  --section-angle-height: calc(100vw * var(--angle-sin));
  --section-angle-padding-bottom-base-min: 48;
  --section-angle-padding-bottom-base-max: 64;
  --section-angle-padding-top-base-min: 32;
  --section-angle-padding-top-base-max: 64;
}

@include mq.mq($from: m) {
  :root {
    --section-angle-padding-bottom-base-min: 16;
    --section-angle-padding-bottom-base-max: 128;
    --section-angle-padding-top-base-min: 48;
    --section-angle-padding-top-base-max: 128;
  }
}
