
// .page-sommaire {}

// .page-sommaire_section {
//   // padding: var(--space-m-l) 0;
// }

.page-sommaire_news {
  > ul {
    padding-left: 0;
  }
}

.page-sommaire_headline {
  font-size: var(--step-4);
  margin-bottom: 1.5em;
}
