/// VARIABLES

/// BREAKPOINTS
$FRAAP-BREAKPOINTS: (
  "s": 320px,
  "m": 740px,
  "l": 1024px,
  "xl": 1100px,
);

/// SPACES
$FRAAP-GLOBAL-GUTTER: var(--space-xs);
$FRAAP-NAV-VERTICAL-ALIGNMENT: -0.8em;


/// FONTS
$FRAAP-FONT-BASE-SANS: Frutiger, "Open Sans", Helvetica, Roboto, Arial, ui-sans-serif, system-ui, -apple-system, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;

$FRAAP-FONT-BASE-MONO: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
