
@use "../settings";
// @use "../tools";
// @use "sass-rem/rem";
@use "sass:map";

.c-breadcrumb {
  & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  & li {
    list-style-image: url("../../images/icon-caret-right-100.svg");
    list-style-position: inside;

    & > span {
      color: map.get(settings.$gorko-colors, "primary-light");
    }
  }

  & li:nth-child(n+1) {
    margin-right: 0.3rem;
  }
}
