
@use "../settings";
@use "../tools";
// @use "sass-rem/rem";
@use "sass:map";


.c-fiches-liste {
  padding-left: tools.get-size('800');

  & li {
    list-style-image: url("../../images/icon-caret-right-100.svg");

    &::marker {
      margin-left: tools.get-size('700');
    }
  }

  & li + li {
    margin-top: tools.get-size("800");
  }
}
