// ========================================
// c-filtres
// ========================================

@use "../tools";
@use "../settings";
@use "sass:map";

.c-filtres {
  --flow-space: 1.5rem;

  &_title {
    margin-bottom: tools.get-size("500");
  }

  &_list {
    list-style: none;
    padding-left: 0;
  }

  // liste imbriquée
  &_list &_list {
    padding-left: 1rem;
  }

  /// list-item
  &_list-item {
    --cluster-wrap: nowrap;
    --cluster-gap: 0.5rem;
    --cluster-horizontal-alignment: space-between;
  }
}

/// list-item
.c-filtres_list-item {
  --cluster-wrap: nowrap;
  --cluster-gap: 0.5rem;
  --cluster-horizontal-alignment: space-between;

  &[data-state="disabled"] {
    & > div {
      color: map.get(settings.$gray, "warm", "300");
    }
  }
}
