// ========================================
// c-page-mediatheque
// ========================================

// https://every-layout.dev/layouts/sidebar/

.c-page-mediatheque {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 3rem;

  &_sidebar {
    flex-basis: 18rem;
    flex-grow: 1;
  }

  &_content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
  }
}
