// ========================================
// c-references
// ========================================

// @use "../settings";
@use "../tools";
// @use "sass-rem/rem";
// @use "sass:map";

.c-references {

  &_header {
    margin-bottom: tools.get-size("500");
  }

  &_stats {
    font-size: tools.get-utility-value("text", "600");
  }

  &_list {
    list-style: none;
    padding: 0;
  }

  // &_list-item {}
}
