
@use "../settings";
@use "../tools";
// @use "sass-rem/rem";
@use "sass:map";

.c-related {
  position: relative;
  margin-top: (tools.get-size("900") * 1.5);
  border: (tools.get-size("100") / 2) solid;

  ul {
    padding: tools.get-size("700") tools.get-size("700") tools.get-size("600");
  }

  &_title {
    position: absolute;
    top: -0.7em;
    left: calc(#{tools.get-size("700")} - 0.5rem);
    padding: 0 0.5rem;
    font-size: tools.get-size("500");
    text-transform: uppercase;
    background-color: map.get(settings.$gorko-colors, "light");
  }
}
