// ========================================
// c-zitem
// ========================================

@use "../settings";
@use "../tools";
// @use "sass-rem/rem";
@use "sass:map";

.c-zitem {
  display: flex;
  gap: tools.get-size("500");

  &_title {
    font-size: tools.get-utility-value("text", "600");
  }

  &_reference {
    margin-top: tools.get-size("400");
    padding-right: tools.get-size("500");
    font-size: tools.get-utility-value("text", "400");

    & .csl-entry {
      word-break: normal;
    }
  }

  &_tag-list {
    margin-top: tools.get-size("800");
    padding-top: tools.get-size("400");
    font-size: tools.get-utility-value("text", "400");
    border-top: 1px solid;
  }

  &_url {
    display: flex;
    align-items: center;
    font-size: tools.get-utility-value("text", "300");

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & svg {
      border: 2px solid;
      border-radius: 100%;
    }
  }
}
