body {
  margin:0;
  background-color:#fff;
  color:#000;
  text-align: center;
  font-family:"Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  line-height:1.3em;
  font-size:x-small;
  voice-family:"\"}\"";
  voice-family:inherit;
}
html>body {
  font-size:small;
}

/* Liens */
a {
  text-decoration: none;
}
#colonne_principale a, #rub3 #colonne_principale dl.alr-asso-activites a {
	border-bottom: 1px dotted;
}
#colonne_secondaire a, #rub0 #colonne_principale div.sommaireRubrique h2 a, div#pf a {
  color:#fff;
}
a.rubrique_on {
  font-weight:bold;
}
#colonne_principale a:hover, #rub3 #colonne_principale dl.alr-asso-activites a:hover {
  border-bottom-style:solid;
}
#navigation a:hover, #localisation a:hover, #navigation_inferieure a:hover, ul#InfosFraap a:hover, #rub0 #colonne_principale div.sommaireRubrique h2 a:hover, #newsletter a:hover, #interne a:hover {
  color:#000;
}
ul#InfosFraap li#article12 a:hover {
  color:#ccc;
}
a img {
  border:none;
}

/* Entete de page */
#entete img#logo {
	margin:5px 10px 0 0;
	border: 0;
}
#entete h1 {
  text-align:right;
}

/*---- Navigation ----*/
#navigation ul, #navigation_inferieure ul, ul#InfosFraap {
  list-style: none;
  margin:0;
  padding:0;
  font: 90% "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
#navigation ul {
  float: right;
}
#navigation_inferieure ul {
  margin:0 10px;
}
#navigation li {
  float: left;
  margin-right: 10px;
  text-align: left;
  width:110px;
  voice-family:"\"}\"";
  voice-family:inherit;
  width:100px;
}
html>#navigation li {
  width:100px;
}
#navigation_inferieure li {
  margin-bottom: 5px;
  width:100px;
}
#navigation li.nav {
  margin-right:5px;
}
li#accueil {
  position: absolute;
  right: 0px;
  left: auto;
  background-color:#9e9090;
}
#navigation a, #localisation a, #navigation_inferieure a, ul#InfosFraap a {
  display: block;
  color: #fff;
  margin:10px 3px 3px;
}


/*----- Localisation -----*/
#localisation {
  font: 90% "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
#localisation span {
  display:none;
}
#localisation p {
  margin:0 10px;
}

/*----- Navigation Infos supplementaires Fraap -----*/

ul#InfosFraap {
  margin:2em 10px 4em;
}
ul#InfosFraap li {
  margin-bottom: 5px;
  width:100px;
}
li#article12 {
  background-color: #000;
}
li#article11 {
  background-color: #666;
}
li#article13 {
  background-color: #8c8c8c;
}

/*----- Titres -----*/
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: normal;
	text-align:left;
	font-weight:normal;
	margin:0;
}
#rub0 h1 {
}
#colonne_principale h2 {
	font-size:160%;
	font-weight:normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom:none !important;
}
h3.InfosColD {
  font-size:120%;
}
.InfosColD span {
  padding:0 5px;
  color:#fff;
}

/*----- Elements communs -----*/
.date {
  font:100% Georgia, "Times New Roman", Times, serif;
  color:#aaa;
  font-weight:bold;
}
img.spip_puce {
  margin-top:2px;
  behavior: url("/win_png.htc");
}

/*----- Accueil du site -----*/
#rub0.sommaire #ConteneurExterieur {
  background-image:none;
}
div.sommaire {
 float:right;
}
#colonne_principale div.sommaireRubrique {
  float:left;
  margin:0 10px 0 0;
  font-size:90%;
  text-align:left;
}
div.sommaireRubrique h2, div.sommaireRubrique p.SRDescription, div.sommaireRubrique div.MeaArticles {
  width:130px;
}
#colonne_principale div.sommaireRubrique h2 {
  font:100% "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  margin:0 0 0.5em;
}
div.sommaireRubrique h2 a {
  color:#fff;
}
div.sommaireRubrique h2 span {
  padding:10px 3px 3px;
  display:block;
}
div.sommaireRubrique h3 {
  font-size:120%;
  margin:0 0 0.5em 3px;
  line-height:120%;
}
div.sommaireRubrique p {
  margin:0 0 0 3px;
}
div.sommaireRubrique p.date {
  margin-top:0.5em;
}

/*----- Rubriques standards -----*/
#description-rubrique {
  margin-bottom:2.7em;
}
#contenu-rubrique-breves {
  width:170px;
  float:right;
  padding:3em 0;
}
#contenu-rubrique-articles-breves {
  width:370px;
  float:left;
}
#contenu-rubrique-breves h2 {
  margin-bottom:1em;
  width:100px;
  font-size:110%;
}
#contenu-rubrique-breves h3 {
  font-weight:normal;
  margin:0.2em 0 0;
  font-size:130%;
}
#contenu-rubrique-articles h2 {
  font-size:150%;
}
.MeaBreves, .MeaArticles {
  border-bottom:1px solid;
  margin-bottom:1.5em;
  padding-bottom:1.5em;
}
.rubrique p.resume {
  margin:1em 0 0.5em;
  text-align:justify;
}
p.date {
  margin:0;
}

/*----- Rubrique Annuaire et page Annuaire (mots et articles)-----*/
div#texte-annuaire {
  float:left;
  width:250px;
  text-align:justify;
}
div#annuaire-recherche {
  float:right;
  width:245px;
  margin-top:1em;
}
div.annuaire-recherche-bloc {
  background:url(../../IMG/a/annuaire-fleche.png) no-repeat bottom left;
  padding-left:37px;
  margin-bottom:1em;
}
div.annuaire form {
  margin-left:5px;
}
div.annuaire select {
  font-size:9px;
}
#rub3 #colonne_principale div.annuaire h2 {
  color:#fff;
  margin:0.5em 0 0.5em 5px;
  font-size:120%;
}
div#annuaire-info-resultats {
  float:right;
  width:200px;
  font-weight:bold;
  margin-bottom:1em;
}
div#annuaire-info-resultats p {
  margin:0;
  padding:0 5px;
}
div#annuaire-liste-resultats {
  clear:right;
}
div.alr-asso {
  margin:1em 0;
}
div.alr-asso-descriptif {
  width:250px;
  float:left;
  text-align:justify;
  margin-top:1.5em;
}
#colonne_principale .rubrique div.alr-asso-descriptif h2 {
  font-size:140%;
}
#rub3 #colonne_principale dl.alr-asso-activites a {
  color:#fff;
  border-bottom-color:#fff;
}
dl.alr-asso-activites {
  width:200px;
  float:right;
  font-size:90%;
  line-height:140%;
  color:#fff;
  padding:0 0 5px;
  background:url(../../IMG/a/boite-droit-bas.gif) no-repeat bottom right;
}
dl.alr-asso-activites dt {
  margin:0; /* 5px 0.5em;*/
  padding:0.8em 5px 0.5em;
}
dl.alr-asso-activites dt.premier {
  background:url(../../IMG/a/boite-gauche-haut.gif) no-repeat top left;
}
dl.alr-asso-activites dd {
  margin:0 5px 0.5em;
}

/*----- Rubrique Ressources -----*/
#ConteneurToggle, #ConteneurInfos {
  float:left;
  margin:0 20px 0 0;
  padding:0 0 0 38px;
  background:url(../../IMG/a/ressources-fleche.png) no-repeat 0 35px;
  min-height:80px;
width:200px;
}
.article #ConteneurToggle {
  float:right;
  margin:2em 0 0;
  padding:0;
  width:200px;
}
#ConteneurInfos {
  width:150px;
}
#ConteneurToggle ul, #Infos ul, #cloneUL {
  margin:0;
  padding:10px 0 0;
  list-style:none;
  width:150px;
}
.article #ConteneurToggle ul {
  padding-left:40px;
  width:auto;
}
#ConteneurToggle li, #Infos li, #cloneUL li {
  padding:0;
  margin:5px 0;
}
#rub2 #ConteneurToggle a, #rub2 #Infos a, #rub2 #cloneUL a {
  padding:1px 3px;
  display:block;
  border:none;
}/*
#ConteneurToggle li:hover, #Infos li:hover, #cloneUL li:hover {
  background-color:#8210d2;
  color:#fff;
}*/
#rub2 #ConteneurToggle a:hover, #rub2 #Infos a:hover, #rub2 #cloneUL a:hover {
  color:#fff;
  background-color:#8210d2;
  
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
/* #Navigation a, #PiedDePage a {float:none;}*/
/* End IE5-Mac hack */
#rub2 #TCategories, #rub2 #TInfos {
  background-color:#8210d2;
  color:#fff !important;
  font-size:120%;
}
#TCategories span, #TInfos span {
  padding:3px 10px;
  display:block;
}

/*----- page mots-cles -----*/
#colonne_principale h2.contenu_mot {
  color:#5B7171; /*#507150;*/
  font-size:140%;
  font-weight:bold;
  margin:1.5em 0 0;
}
#rub0.themes #cp_interieure dl {
  margin:0 0 3em;
  
}
dt.contenu_mot_titre {
  margin:1em 0 0.5em;
  font:150% Georgia, "Times New Roman", Times, serif;
}
dd.contenu_mot_desc{
  margin:0.5em 0 0;
}
dd.date {
  margin:0.3em 0 1em;
}
dd.date img {
  vertical-align:bottom;
}

/*----- Articles et breves -----*/
.DeuxCol {
  width:350px;
  float:left;
}
.article #contenu_article, .article #chapo {
  text-align: justify;
}
p.surtitre, p.soustitre {
	margin:0;
	font: 95% "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	font-weight:bold;
}
p.surtitre {
  text-transform: uppercase;
  margin-bottom:0.5em;
}
p.soustitre {
	font-size:100%;
	margin-top:0.7em;
}
.article h3.date {
	text-align: right;
	border-bottom:1px dotted #ccc;
	padding-bottom:2px;
	margin:1.5em 0;
}
#chapo {
	font-weight:bold;
	color:#333;
	margin-top:2em;
	margin-bottom:1.5em
}
div.texte {
  margin-top:2em;
}
p.spip {
  margin:0 0 1em;
}
div.postscriptum {
  margin:2em 0;
  padding:0.5em 0;
  border-top:1px dotted #ccc;
  border-bottom:1px dotted #ccc; 
}
div.notes {
	font-size: 90%;
}
.notes h3 {
}
h3.spip {
	margin:1.5em 0 0.5em;
	font-size: 140%;
}

/*----- tableaux spip -----*/
table.spip {
  border-collapse:collapse;
  text-align:left;
  border:2px solid #fff;
}
table.spip th {
}
table.spip th, table.spip td {
  padding:0 3px;
  border:1px solid #fff;
}
table.spip tr.ligne1 td {
  background-color:#eee;
}
table.spip tr.ligne2 td {
  border:1px solid #eee;
}

/*----- Articles : pétitions -----*/
#FormulairePetitions {
  float:right;
  text-align:left;
  font-size:90%;
  width:200px;
  margin:0 0 1em;
  padding:0;
}
#FormulairePetitionsSignatures {
  width:200px;
  margin:0 0 2em;
  float:right;
}
#FormulairePetitionsSignatures p {
  margin:0 10px;
}
#FormulairePetitions div.spip_encadrer {
  margin:0; padding:10px 0;
}
p.confirmation {
  font-size:120%;
  margin-right:10px;
  background-color:red;
  padding:5px;
}
p.confirmation span {
	padding:0 10px 0 20px;
	margin:5px;
	display:block;
	background:url(../../IMG/a/icone-alerte-16px.png) no-repeat left top;
}

/*----- Articles : Images, documents, mots-cles et portfolio -----*/
div.spip_documents {
	margin:5px;
	padding:5px 0;
	font:90% Georgia, "Times New Roman", Times, serif;
}
div#documents, div#motsCles, div#portfolio, div#pf  {
  font-size: 100%;
  width:200px;
  float:right;
  margin:1em 0 2em;
}
#documents dl, #motsCles dl, div#portfolio dl {
  margin:5px 0 0;
}
#documents dt, #motsCles dt {
  margin:0 5px 3px; padding:0;
}
#documents dd {
  margin:0 5px 0; padding:0;
  font-family:Georgia, "Times New Roman", Times, serif;
}
#documents dd img {
  float:left;
  margin:0 7px 5px 0;
  background-color:transparent;
}

/* Pour le portfolio */
div#pf {
  margin:2em 0 0;
  width:auto;
}
#portfolio dt, #portfolio dd {
  margin:0;
}
#portfolio dt {
  margin-top:5px;
}
#portfolio dd {
  font-family:Georgia, "Times New Roman", Times, serif;
}
#portfolio dd a {
  font-family:"Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
#portfolio dt a, #portfolio dt a:hover {
	border:none;
}
#portfolio dd + dt {
  border-top:1px dotted;
  padding-top:10px;
}
#contenuPortfolio {
  clear:right;
  text-align:center;
  margin:0;
  padding:5px;
  color:#fff;
  background-color:#000;
}
#contenuPortfolio h3 {
  text-align:center;
  font-size:120%;
  margin-bottom:0;
}
#navPortfolio {
  list-style:none;
  margin:0 0 0 5px; padding:0;
  text-align:center;
}
#navPortfolio li {
  float:left;
  margin:0 5px 0 0;
  padding:0;
}
#navPortfolio li a {
  display:block;
  margin:5px 0;
}

/* Pour les mots-clés */
#motsCles dd {
  margin:0 10px; padding:0;
}
div.spip_documents img {
  margin:0 5px;
}
div.spip_documents_left {
  margin-right:15px;
  margin-left:0;
  float:left;
}
div.spip_documents_right {
	float:right;
	margin-left:15px;
	margin-right:0;
}
div.spip_doc_titre {
	margin:5px 5px;
	color:#fff;
}
div.spip_doc_descriptif{
	margin:0 5px 5px;
	color:#333;
}

/*----- Recherche -----*/
#recherche {
  font-size:80%;
  margin:3em 5px 0 10px;
}
h3.recherche {
  margin:0;
}
.recherche p.spip {
  margin:0;
}
.recherche p.recherche {
  color:#507150;
  font-weight:bold;
  font-size:140%;
  margin:0 0 1em;
}
p.url {
  margin:0 0 2em;
}
.recherche p.spip strong, span.spip_surligne {
  background-color:#c1c0c8;
  padding:2px;
}

/*----- Formulaires -----*/
form {
  margin:0;
  padding:0;
}
div.descriptif {
  margin:0 10px 10px;
  font:110% Georgia, "Times New Roman", Times, serif;
  font-weight:bold;
}
div.descriptif p.spip{
  margin:0 0 0.5em;
}
div.spip_bouton {
  margin:0 10px;
  text-align:right;
}
fieldset {
  font-weight:bold; color:#000;
  border:1px solid #ccc;
  margin:0 3px; padding:3px;
}
fieldset legend {
	color:#000;
}
input, textarea {
  border:1px solid;
  border-color:#ccc #eee #eee #ccc;
  font-size:10px;
}
input.spip_bouton {
  font-size:100%;
  border-color:#eee #ccc #ccc #eee;
}
input.formrecherche {
  width:100px;
}
input.formNewsletter {
	width:80px;
}
div#newsletter, div#interne {
  background-color:#9e9090;
  margin:2em 10px;
  padding:10px 3px;
  font-size:95%;
}
div#interne {
  background-color:#8c8c8c;
}
#newsletter h2, #newsletter label, #newsletter input, #interne h2 {
  margin:0 3px;
  font:100% "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
}
#newsletter h2, #interne h2 {
  margin:0.5em 3px 0.8em;
  color:#fff;
  font-size:100%;
}
#newsletter p, #interne p {
  margin:0 5px 0.8em 3px;
  font:105%/1.3em Georgia, "Times New Roman", Times, serif;
}
#newsletter label {
  margin-bottom:0.3em;
  font-style:italic;
}
#newsletter input.spip_bouton {
  margin:0.5em 3px 1em; 
}
#newsletter p.confirmation span {
  padding:0 0 0 20px;
  color:red;
  font-size:120%;
}
#rub0.fraap div.spip_encadrer {
	margin-bottom:1.5em;
}

/*----- Divers -----*/
#alertejs {
  color:red !important;
  clear:both;
  margin:2em 0;
}
.invisible {
  display: none;
}
.pagination {
  background-color:transparent !important;
  font-size:80%;
  text-align:right;
}
.pagination span {
}
.rien {
  height:1px;
  clear:both;
}
.divers {
  color:#9E909E;
  font-size:70%;
  line-height:100%;
  margin:1em 10px;
}
