
/*---  thÃ¨mes (page mots-cles) ---*/
#rub0 img.spip_puce, #rub0 h3#titreDocuments {
  background-color:#715050;
}
#rub0 h3#titreDocuments {
    background-color:#9e9090;
}
#rub0 div.texte a, #rub0 div.notes a, #rub0 #cp_interieure h1, /*#rub0 #cp_interieure h2,*/ #rub0 .notes h3, #rub0 h3.spip, #rub0 div#documents a, #rub0 div#motsCles a {
  color:#715050;
}
#rub0 #ConteneurExterieur {
  background-image:url(../../IMG/a/9e9090.gif);
}
#rub0 div.texte a, #rub0 div.notes a, #rub0 div.MeaArticles, #rub0 div.MeaBreves {
  border-bottom-color:#715050;
}
#rub0.themes #CEtitreRubrique  {
  background-image: url(../../IMG/a/themes.png);
}
#rub0.recherche #CEtitreRubrique  {
    background-image:url(../../IMG/a/recherche.png);
}
#rub0.fraap #CEtitreRubrique  {
    background-image:url(../../IMG/a/a_propos.gif);
}
#rub0.fraap div.spip_encadrer {
  border:1px solid #715050;
  padding:5px;
}
/*---  rubrique  actualités ---*/
div.CERubrique1 {
  background-image:url(../../IMG/gif/FF0066.gif);
}

div.CEtRubrique1  {
  background-image:url(../../IMG/gif/actualites.gif);
}

h2#rub11, li#rub11, #localisationRub11, #rub1 table.spip th, #rub1 h3#titreFP, #rub1 h3#titreDocuments, #rub1 #titreMotCles, #rub1 #titrePortfolio,  #rub1 #pf, #rub1 #contenu-rubrique-breves h2, #rub0.themes img.puce_transparente_rub1, #rub1 img.spip_puce, #rub1 div.annuaire, #rub1 dl.alr-asso-activites {
  background-color:#FF0066;
}
#rub1 #contenu-rubrique-articles a, #rub1 #contenu-rubrique-articles-breves a, #rub1 #contenu-rubrique-breves a, #rub1 #chapo a, #rub1 #contenu_article a, #rub1 #annuaire-info-resultats a, #rub1 .alr-asso-descriptif a, span.rubrique_courante1 a, #rub0.sommaire div#sommaire1 div.MeaArticles a, #rub0.sommaire div#sommaire1 p a, #rub1 #ConteneurToggle a, #rub1 #cloneUL a, #rub1 #FormulairePetitionsSignatures a, #rub1 div#documents a, #rub1 div#motsCles a, #rub1 div#portfolio a {
  color:#FF0066;
  border-bottom-color:#FF0066;
}
#rub1 #cp_interieure h2, #rub1 .notes h3, #rub1 h3.spip {
  color:#FF0066;
}
#rub1 div.MeaArticles, #rub0.sommaire div#sommaire1 div.MeaArticles, #rub1 div.MeaBreves {
  border-bottom-color:#FF0066;
}
#rub1 #portfolio dd + dt {
  border-top-color:#FF0066;
}



/*---  rubrique  ressources ---*/
div.CERubrique2 {
  background-image:url(../../IMG/gif/8210d2.gif);
}

div.CEtRubrique2  {
  background-image:url(../../IMG/gif/ressources.gif);
}

h2#rub12, li#rub12, #localisationRub12, #rub2 table.spip th, #rub2 h3#titreFP, #rub2 h3#titreDocuments, #rub2 #titreMotCles, #rub2 #titrePortfolio,  #rub2 #pf, #rub2 #contenu-rubrique-breves h2, #rub0.themes img.puce_transparente_rub2, #rub2 img.spip_puce, #rub2 div.annuaire, #rub2 dl.alr-asso-activites {
  background-color:#8210d2;
}
#rub2 #contenu-rubrique-articles a, #rub2 #contenu-rubrique-articles-breves a, #rub2 #contenu-rubrique-breves a, #rub2 #chapo a, #rub2 #contenu_article a, #rub2 #annuaire-info-resultats a, #rub2 .alr-asso-descriptif a, span.rubrique_courante2 a, #rub0.sommaire div#sommaire2 div.MeaArticles a, #rub0.sommaire div#sommaire2 p a, #rub2 #ConteneurToggle a, #rub2 #cloneUL a, #rub2 #FormulairePetitionsSignatures a, #rub2 div#documents a, #rub2 div#motsCles a, #rub2 div#portfolio a {
  color:#8210d2;
  border-bottom-color:#8210d2;
}
#rub2 #cp_interieure h2, #rub2 .notes h3, #rub2 h3.spip {
  color:#8210d2;
}
#rub2 div.MeaArticles, #rub0.sommaire div#sommaire2 div.MeaArticles, #rub2 div.MeaBreves {
  border-bottom-color:#8210d2;
}
#rub2 #portfolio dd + dt {
  border-top-color:#8210d2;
}



/*---  rubrique  annuaire ---*/
div.CERubrique3 {
  background-image:url(../../IMG/gif/669900.gif);
}

div.CEtRubrique3  {
  background-image:url(../../IMG/gif/annuaire.gif);
}

h2#rub13, li#rub13, #localisationRub13, #rub3 table.spip th, #rub3 h3#titreFP, #rub3 h3#titreDocuments, #rub3 #titreMotCles, #rub3 #titrePortfolio,  #rub3 #pf, #rub3 #contenu-rubrique-breves h2, #rub0.themes img.puce_transparente_rub3, #rub3 img.spip_puce, #rub3 div.annuaire, #rub3 dl.alr-asso-activites {
  background-color:#669900;
}
#rub3 #contenu-rubrique-articles a, #rub3 #contenu-rubrique-articles-breves a, #rub3 #contenu-rubrique-breves a, #rub3 #chapo a, #rub3 #contenu_article a, #rub3 #annuaire-info-resultats a, #rub3 .alr-asso-descriptif a, span.rubrique_courante3 a, #rub0.sommaire div#sommaire3 div.MeaArticles a, #rub0.sommaire div#sommaire3 p a, #rub3 #ConteneurToggle a, #rub3 #cloneUL a, #rub3 #FormulairePetitionsSignatures a, #rub3 div#documents a, #rub3 div#motsCles a, #rub3 div#portfolio a {
  color:#669900;
  border-bottom-color:#669900;
}
#rub3 #cp_interieure h2, #rub3 .notes h3, #rub3 h3.spip {
  color:#669900;
}
#rub3 div.MeaArticles, #rub0.sommaire div#sommaire3 div.MeaArticles, #rub3 div.MeaBreves {
  border-bottom-color:#669900;
}
#rub3 #portfolio dd + dt {
  border-top-color:#669900;
}



/*---  rubrique  chantiers ---*/
div.CERubrique6 {
  background-image:url(../../IMG/gif/ff3300.gif);
}

div.CEtRubrique6  {
  background-image:url(../../IMG/gif/chantiers.gif);
}

h2#rub16, li#rub16, #localisationRub16, #rub6 table.spip th, #rub6 h3#titreFP, #rub6 h3#titreDocuments, #rub6 #titreMotCles, #rub6 #titrePortfolio,  #rub6 #pf, #rub6 #contenu-rubrique-breves h2, #rub0.themes img.puce_transparente_rub6, #rub6 img.spip_puce, #rub6 div.annuaire, #rub6 dl.alr-asso-activites {
  background-color:#ff3300;
}
#rub6 #contenu-rubrique-articles a, #rub6 #contenu-rubrique-articles-breves a, #rub6 #contenu-rubrique-breves a, #rub6 #chapo a, #rub6 #contenu_article a, #rub6 #annuaire-info-resultats a, #rub6 .alr-asso-descriptif a, span.rubrique_courante6 a, #rub0.sommaire div#sommaire6 div.MeaArticles a, #rub0.sommaire div#sommaire6 p a, #rub6 #ConteneurToggle a, #rub6 #cloneUL a, #rub6 #FormulairePetitionsSignatures a, #rub6 div#documents a, #rub6 div#motsCles a, #rub6 div#portfolio a {
  color:#ff3300;
  border-bottom-color:#ff3300;
}
#rub6 #cp_interieure h2, #rub6 .notes h3, #rub6 h3.spip {
  color:#ff3300;
}
#rub6 div.MeaArticles, #rub0.sommaire div#sommaire6 div.MeaArticles, #rub6 div.MeaBreves {
  border-bottom-color:#ff3300;
}
#rub6 #portfolio dd + dt {
  border-top-color:#ff3300;
}


/*--- sous-rubrique 02. 1ères rencontres nationales ---*/
#localisationRub14, #rub4 table.spip th, #rub4 #FormulairePetitionsSignatures, #rub4 #FormulairePetitions, #rub4 div.spip_encadrer, #rub4 #contenu-rubrique-breves h2, img.puce_transparente, #rub4 img.spip_puce, #rub4 div.annuaire, #rub4 dl.alr-asso-activites, #rub4 table.spip th, #rub4 h3#titreFP, #rub4 h3#titreDocuments, #rub4 #titreMotCles, #rub4 #titrePortfolio,  #rub4 #pf {
    background-color:#cc2900;
}
#rub4 #colonne_principale a, #rub4 #cp_interieure h2, #rub4 .notes h3, #rub4 h3.spip, #themes #colonne_principale span.rubrique_courante4 a {
  color:#cc2900;
}
/*--- sous-rubrique 01. Elections Régionales&nbsp;: les réponses des candidats ---*/
#localisationRub15, #rub5 table.spip th, #rub5 #FormulairePetitionsSignatures, #rub5 #FormulairePetitions, #rub5 div.spip_encadrer, #rub5 #contenu-rubrique-breves h2, img.puce_transparente, #rub5 img.spip_puce, #rub5 div.annuaire, #rub5 dl.alr-asso-activites, #rub5 table.spip th, #rub5 h3#titreFP, #rub5 h3#titreDocuments, #rub5 #titreMotCles, #rub5 #titrePortfolio,  #rub5 #pf {
    background-color:#cc2900;
}
#rub5 #colonne_principale a, #rub5 #cp_interieure h2, #rub5 .notes h3, #rub5 h3.spip, #themes #colonne_principale span.rubrique_courante5 a {
  color:#cc2900;
}

/* mars 2008 : ajouts de 2 sous-rubriques */

#localisationRub17, #rub7 table.spip th, #rub7 #FormulairePetitionsSignatures, #rub7 #FormulairePetitions, #rub7 div.spip_encadrer, #rub7 #contenu-rubrique-breves h2, img.puce_transparente, #rub7 img.spip_puce, #rub7 div.annuaire, #rub7 dl.alr-asso-activites, #rub7 table.spip th, #rub7 h3#titreFP, #rub7 h3#titreDocuments, #rub7 #titreMotCles, #rub7 #titrePortfolio,  #rub7 #pf {
    background-color:#cc2900;
}
#rub7 #colonne_principale a, #rub7 #cp_interieure h2, #rub7 .notes h3, #rub7 h3.spip, #themes #colonne_principale span.rubrique_courante7 a {
  color:#cc2900;
}

#localisationRub19, #rub9 table.spip th, #rub9 #FormulairePetitionsSignatures, #rub9 #FormulairePetitions, #rub9 div.spip_encadrer, #rub9 #contenu-rubrique-breves h2, img.puce_transparente, #rub9 img.spip_puce, #rub9 div.annuaire, #rub9 dl.alr-asso-activites, #rub9 table.spip th, #rub9 h3#titreFP, #rub9 h3#titreDocuments, #rub9 #titreMotCles, #rub9 #titrePortfolio,  #rub9 #pf {
    background-color:#cc2900;
}
#rub9 #colonne_principale a, #rub9 #cp_interieure h2, #rub9 .notes h3, #rub9 h3.spip, #themes #colonne_principale span.rubrique_courante9 a {
  color:#cc2900;
}



      