#ConteneurExterieur {
	margin:0 auto;
	width:804px;
	background-repeat:repeat-y;
	background-position:left top;

}
#CEBordure {
  background:url(../../IMG/a/BordureGauche.png) no-repeat top left;
}
#CEtitreRubrique {
  background-position:-2px 100px; background-repeat: no-repeat;
}
#ConteneurInterieur {
	background:#fff url(../../IMG/a/FondPage.png) repeat-y left top;
	width:750px;
	text-align: left;
	margin:0 auto;
	position: relative;
	left:auto;
	top:auto;
	padding-bottom:1em;
}
#entete {
	background:url(../../IMG/a/ColonneDroiteBordureH-120.png) no-repeat right top;
	text-align: right;
}
#navigation {
	margin:20px 120px 20px 40px;
}
#localisation, #navigation_inferieure {
	clear: both;
	float: right;
	width: 120px;
	margin:5px 0 0;
}
#colonne_principale {
   float: left;
   width:630px;
   margin-bottom:2em;
}
#cp_interieure {
	padding:2em 20px 0 40px;
}
#cp_interieure.sommaire {
  padding-left:0;
  padding-right:0px;
}
#colonne_secondaire {
	width: 120px;
	float: right;
	clear: right;
}