/// DETAILS

details {
  // @extend .flow;
  // --flow-space: 0.5em;
  border: 1px solid;
  border-width: 1px 0;

  // border-block: 1px solid get-utility-value('bg', 'stroke');
  padding: 1rem 0.5rem 1.2rem 0.5rem;
  text-align: left;
}
