/// FOCUS
/// Gestion et apparence du focus.
/// La classe .js-focus-visible est ajoutée par le polyfill focus-visible
/// https://github.com/WICG/focus-visible
///
/// https://alistairshepherd.uk/writing/focus-visible-conditional-polyfill/

@use "../settings";

*:focus {
  // outline: settings.$FRAAP-FOCUS-OUTLINE-WIDTH solid blue;
  // outline: none;
  outline: settings.$FRAAP-FOCUS-OUTLINE-WIDTH solid var(--color-link);
  outline-offset: settings.$FRAAP-FOCUS-OUTLINE-OFFSET;
}

/**
 * When focus-visible is supported:
 * remove outline when :focus but not :focus-visible
 */
:focus:not(:focus-visible) {
  outline: 0;
}

/**
 * when polyfill loaded:
 * remove outline when :focus but not .focus-visible
 */
.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}
