/// FORM FIELDS

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: var(--step-2);
}


/// Input
input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="submit"],
input[type="file"],
textarea {
  display: block;
  background-color: var(--color-paper);
  border-radius: var(--border-radius-base);
  border: 1px solid var(--form-fields-border-color, var(--color-ink));
  color: var(--color-ink);
  font: inherit;
  font-size: var(--step-1);
  line-height: 1;
  padding: var(--form-fields-input-padding);
  width: var(--form-fields-width);
  appearance: none;
}

input[type="file"] {
  font-size: 0.9em;
  margin-bottom: 0 !important;
}


// Checkbox
// Référence possible https://moderncss.dev/pure-css-custom-checkbox-style/
// mais non suivie ici
input[type="checkbox"],
input[type="radio"] {
  width: min(1.13em, 18px);
  height: min(1.13em, 18px);
  flex-shrink: 0;

  + label {
    cursor: pointer;
    margin-left: 0.25em;
  }

  &:disabled + label {
    cursor: not-allowed;
    color: var(--color-disabled);
  }
}

// Formulaire : mise en forme
form {
  .choix {
    display: flex;
    padding: 0.12em 0;
  }
}




// input:not([type]),
// input[type="text"],
// input[type="email"],
// input[type="password"],
// input[type="search"],
// textarea,
// select {
//   max-width: 40rem;
// }

select {
  display: block;
  width: 100%;
  background-color: var(--color-paper);
  // background-color: get-utility-value('bg', 'core-bg');
  // color: get-utility-value('color', 'core-text');
  color: var(--color-ink);
  // Use an escaped svg to add a small grey arrow to the end of the select
  // sass-lint:disable quotes
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
  // Set the width of the arrow background image and let the height default to auto
  background-size: 1.5em;
  background-position: right 0.5em top 50%;
  background-repeat: no-repeat;
  // border: $global-stroke;
  // border-radius: $global-radius-base;
  border-radius: var(--border-radius-base);
  border: 1px solid var(--form-fields-border-color, var(--color-ink));
  font: inherit;
  line-height: 1.6;
  padding: var(--form-fields-input-padding);
  // padding: 1em 3em 1em 0.8em;
  appearance: none;
  -webkit-appearance: none;
}

// select::-ms-expand {
//   display: none;
// }

// select:hover {
//   background-color: get-utility-value('bg', 'accent-bg');
// }

// input[type='checkbox'],
// input[type='radio'] {
//   position: relative;
//   border: none;
//   cursor: pointer;
//   margin: 0px;
//   background-size: cover;
//   flex: none;
//   appearance: none;
//   -webkit-appearance: none;

//   /// A material design-style "click" state
//   &::before {
//     content: '';
//     display: block;
//     width: 2.5em;
//     height: 2.5em;
//     background: get-utility-value('bg', 'mid-bg');
//     border-radius: 50%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(0);
//     transition: opacity $global-transition-fade 50ms,
//       background $global-transition-fade, transform $global-transition-movement;
//     opacity: 0;
//     z-index: -1;
//   }

//   &:hover:focus::before {
//     transform: translate(-50%, -50%) scale(1);
//     opacity: 1;
//   }

//   &:checked::before {
//     background: get-utility-value('bg', 'highlight-interact-bg');
//   }
// }

// /// Optical adjustment helps align labels
// input[type='checkbox'] + label,
// input[type='radio'] + label {
//   transform: translateY(-0.5ex);
// }

// input[type='checkbox'] {
//   width: min(1.13em, 18px);
//   height: min(1.13em, 18px);

//   @include apply-utility('bg', 'checkbox');
// }

// input[type='checkbox']:checked {
//   @include apply-utility('bg', 'checkbox-checked');
// }

// input[type='radio'] {
//   width: min(1.5em, 24px);
//   height: min(1.5em, 24px);

//   @include apply-utility('bg', 'radio');
// }

// input[type='radio']:checked {
//   @include apply-utility('bg', 'radio-checked');
// }
