/* SPIP-STYLE                                                           */
/* Cette feuille contient les styles associes au code genere par SPIP.  */
/* Ces styles sont indispensables et doivent necessairement etre        */
/* definis pour le bon fonctionnement de vos squelettes.                */

/* Titre et compagnie */
p.surtitre {
	font-size: 14px; font-weight: bold;
	text-transform: uppercase;
	float: left;
	border-bottom: 2px solid #000;
	margin-bottom: .5em; padding-right: 10px; }
#titre h1.h1 {
	clear: both;
	font-size: 28px; line-height: 1em; margin: 0; }
p.soustitre {
	font-size: 16px; font-weight: bold;
	margin-top: .5em; }

/* Intertitres */

h2.spip, h3.spip, h4.spip, h5.spip, h6.spip {
	font-weight: normal;
	border-bottom: 1px solid #000;
	padding-bottom: .25em; }

h2.spip { font-size: 22px; line-height: 1; margin-bottom: 0.5em; padding-bottom: .25em; }
h3.spip { font-size: 20px; line-height: 1; margin-bottom: .75em; padding-bottom: .25em; }
h4.spip { font-size: 18px; line-height: 1.25; margin-bottom: 1em; }
h5.spip { font-size: 16px; margin-bottom: 1.25em; }
h6.spip { font-size: 14px; line-height: 1; margin-bottom: 1em; padding-bottom: .5em;  }

hr.spip { margin: 2em auto; }

/* Listes SPIP */
ul.spip {  }
ol.spip { list-style: decimal; }

/* Citations, code et poesie */
/*blockquote.spip { margin: 2em 0; padding-left: 1em; border-left: 0.30em solid; }*/

blockquote.spip, blockquote  { margin: 1.5em !important; color: #666; font-style: italic; }
blockquote p i { font-style: normal; }
blockquote.spip_poesie { margin: 2em 0; padding-left: 1em; border-left: 1px solid; font-family: Garamond, Georgia, Times, serif; font-size:120%; }
blockquote.spip_poesie div { text-indent: -3em; margin-left: 3em; }

.spip_code, .spip_cadre { font-family: Courier, "Courier New", monospace; color: #009; }
.spip_cadre {  background-color: #F4F8F8; border: 1px inset; }
div.spip_code, .spip_cadre { margin-bottom: 1em;  }

.spip_surligne { background: #FF6; }

/* Tableaux */

table.spip {
	margin:0 0 1.5em;
	border-collapse: collapse; border-spacing: 0;
	width: 100%; }

	table.spip caption {
		caption-side: top; /* bottom pas pris en compte par IE */
		text-align: left; font-size: 14px;
		margin-bottom: .5em; }
	table.spip tr.row_first {  }
	table.spip tr.row_odd { background: rgb(235,235,235); }
	table.spip tr.row_even { background-color: #fff; }
	table.spip th, table.spip td {
		text-align: left;
		padding: 0.20em 0.40em;
		border: 1px solid #000; border-width: 1px 0; }
	table.spip th {
		font-weight: bold;
		vertical-align: bottom;
		border: 1px solid #fff; border-top: 1px solid #000;
		color: #fff; background-color: #000; }
	table.spip td { vertical-align: top; }
	table.spip th:first-child, table.spip td:first-child { border-left: 1px solid #000; }
	table.spip th:last-child, table.spip td:last-child { border-right: 1px solid #000; }



/*
table.spip { margin-right: auto; margin-left: auto; margin-bottom: 1em; border-collapse: collapse; border-spacing: 0; line-height: normal; }
table.spip caption { caption-side: top;  text-align: center; margin-right: auto; margin-left: auto; font-weight: bold; }
table.spip tr.row_first { background: #FFC; }
table.spip tr.row_odd { background: #EEE; }
table.spip tr.row_even { background: #DDD; }
table.spip th, table.spip td { padding: 0.20em 0.40em; text-align: left; border: 1px solid; }
table.spip th { vertical-align: bottom; font-weight: bold; }
table.spip td { vertical-align: top; }

*/

/* Logos, documents et images */
img, .spip_logos { margin: 0; padding: 0; border: 0; }
.spip_documents { text-align: center; line-height: normal; }
.spip_documents p { margin: 0.10em; padding: 0; }
.spip_documents_center { display: block;display: table; clear: both; margin: 1em auto; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { margin-top: .5em; margin-right: auto; margin-left: auto; font-weight: bold; }
	.spip_doc_titre h3 { font-size: 14px; }
.spip_doc_descriptif { clear: both; margin-right: auto; margin-left: auto; }

/* modeles par defaut */
.spip_modele { float: right; display: block; padding: 1em; border: 1px solid; width: 180px; }

/* Couleurs des liens de SPIP */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_ancre {} /* liens internes a la page */
a.spip_in {} /* liens internes */
/* liens sortants */
a.spip_out {} a.spip_out:after { content: '\00A0\279A'; }
a.spip_url {} /* liens url sortants */
a.spip_glossaire {} /* liens vers encyclopedie */
a.spip_glossaire:hover { text-decoration: underline overline; }
.on,.on a,a.on { font-weight: bold; } /* liens exposes */

.small {font-size:90%;}

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }
