/// GAP SPACING
/// Margin utilities

.gap-top-1 {
  margin-top: var(--space-s);
}

// .gap-top-2 {
//   margin-top: var(--space-m);
// }

.gap-top-3 {
  margin-top: var(--space-l);
}

// .gap-top-4 {
//   margin-top: var(--space-xl);
// }

.gap-top-5 {
  margin-top: var(--space-2xl);
}
