/// WRAPPER-CONTENT

.wrapper-content {
  margin: 0 auto;
  padding: 0 var(--column-padding);
  max-width: var(--layout-max-width);
}

.wrapper-content[data-flush] {
  padding: 0;
}

.wrapper-content[data-size="narrow"] {
  max-width: 60rem;
}

// .wrapper-content[data-size="large"] {
//   max-width: 1400px;
// }
