<plugin>
	<nom>
		<multi>[fr]Stages</multi>
	</nom>
	<description>
		<multi>
		[fr]Ajout de champs d'identifications sur les visiteurs pour les annonces de stages de la Fraap
		</multi>
	</description>
	<auteur>christophe le drean</auteur>
	<licence>GNU/GPL</licence>
	<etat>stable</etat>

	<version>0.1</version>
	<version_base>0.2</version_base>
	<prefix>stages</prefix>

	<install>base/stages_install.php</install>
	<pipeline>
		<nom>declarer_champs_extras</nom>
		<inclure>base/stages.php</inclure>
	</pipeline>

	<necessite id="cextras" version="[1.10.0;]" />
	<necessite id="SPIP" version="[2.1.10;]" />

	<categorie>outil</categorie>
</plugin>
