/// ALERT
/// Message d'informations, alerte, etc.

.alert {
  padding: 0.75rem 1rem;
  background-color: var(--color-callout-bg);
  border-left: 8px solid var(--color-callout-border);


  &.variant-info {
    --color-callout-bg: var(--color-callout-bg-info);
    --color-callout-border: var(--color-callout-border-info);
  }

  &.variant-warn {
    --color-callout-bg: var(--color-callout-bg-warn);
    --color-callout-border: var(--color-callout-border-warn);
  }

  &.variant-alert {
    --color-callout-bg: var(--color-callout-bg-alert);
    --color-callout-border: var(--color-callout-border-alert);
  }
}
