/// BUTTON CALL TO ACTION

.button-cta {
  color: currentColor;
  font-size: var(--buttonCta-fontsize);
  white-space: nowrap;

  &.with-icon {
    display: flex;
    align-items: baseline;

    svg.icon.icon-nav-link {
      --icon-border-radius: 0;
      --icon-size: 0.75em;
      --icon-padding: 0;
      fill: currentColor;
      margin-left: 0.5em;

      .icon-nav-link_path1 {
        transform: translateX(-6px);
      }
    }

    &:hover {
      .icon-nav-link {
        --iconPathOffset: translateX(6px);
      }
    }
  }

  &.variant-button {
    background-color: var(--color-contrast);
    border-radius: 8px;
    color: var(--color-link-invert);
    padding: 8px 8px 4px;
    text-decoration: none;
    white-space: nowrap;
  }

  &.variant-link {
    color: var(--color-link);
  }
}
