/// CAROUSEL
/// Règles spécifiques et surcharge des règles de swipers.js

// @use "../settings";
// @use "../tools/mq" as mq;

.carousel {
  overflow: hidden;

  .swiper {
    overflow: visible;
    // padding: 0 var(--space-m-l) var(--space-2xl);
    padding: 0 var(--space-l) var(--space-2xl) var(--space-xl);
    max-width: 80rem;
    z-index: var(--carousel-zindex);
  }

  .swiper-wrapper {
    z-index: calc(var(--carousel-zindex) + 1);
  }

  .swiper-slide {
    padding-right: var(--space-m-xl);
    max-width: 100%;
    width: 40rem;
  }
}

.carousel_navigation {
  --swiper-navigation-size: 32px;
  --swiper-navigation-icon-size: 16px;
  --swiper-navigation-color: white;

  & .swiper-button-prev,
  & .swiper-button-next {
    background-color: black;
    border-radius: 100%;
    box-shadow: 0 4px 4px rgba(0,0,0, 0.2), 0 1px 2px rgba(#f20d0d, 0.1);
    bottom: 4px;
    // top: auto;
    top: calc(50% - var(--space-2xl));
    width: var(--swiper-navigation-size);
    z-index: calc(var(--carousel-zindex) + 2);

    &::after {
      font-size: var(--swiper-navigation-icon-size);
    }
  }

  // & .swiper-button-prev {
  //   left: var(--space-m-l);
  // }

  // & .swiper-button-next {
  //   right: var(--space-m-l);
  // }
}

.carousel_pagination {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;

  &.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 4px;
    z-index: calc(var(--carousel-zindex) + 1);
  }
}
