@use "../mixins/background-svg" as mixin;

.card {
  // Styles de base
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 37rem;
  position: relative;
  text-decoration: none;
}

.card_content {
  --flow-space: var(--card-flow-space);
  display: flex;
  flex-direction: column;
  padding: var(--space-s);
  margin-left: calc(var(--space-s) * -1);
  position: relative;

  a:not(:hover) {
    text-decoration: none;
  }

  &::before,
  &::after {
    background-color: var(--color-primary);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::before {
    width: 20%;
    height: 2px;
    transition: width 0.25s 0.25s
  }

  &::after {
    width: 2px;
    height: 80px;
    transition: height 0.25s 0.25s
  }

  &:hover {
    &::before {
      width: 100%;
    }

    &::after {
      height: 100%;
    }
  }
}

.card_heading {
  font-size: var(--step-1);
  font-weight: 600;
}

.card_image {
  a {
    background-image: var(--card-backgroundImage);
    background-size: 8px;
    display: block;
    margin-right: 18px;
    margin-top: 18px;

    &:hover {
      img {
        transform: translate(0);
      }
    }
  }

  img {
    aspect-ratio: 4/3;
    box-shadow: 0 4px 4px rgba(0,0,0, 0.2), 0 1px 2px rgba(#f20d0d, 0.1);
    object-fit: cover;
    transform: translate(18px, -18px);
    transition: transform 0.25s 0.25s;
    width: 100%;
  }
}
