/// CARD-CAROUSEL

.card-carousel {

  &.flow {
    --flow-space: var(--card-flow-space);
  }

  a:not(:hover) {
    text-decoration: none;
  }
}

.card-carousel_heading {

  &--flat {
    &::after {
      background-color: black;
      content: "";
      display: block;
      height: 1px;
      margin-top: 0.25em;
      width: 100%;
    }
  }

  &.with-icon {
    font-size: var(--step-5);

    & a {
      display: flex;
      align-items: flex-end;
    }

    & svg {
      margin-right: 0.5em;
      height: 1.2em;
      width: 1.2em;
    }
  }
}


.card-carousel_desc {
  max-width: 60ch;

  & a {
    color: white;
  }
}
