/// ICON
///
/// 01 - icon-nav-
/// 02 - icon-social-
/// 03 - icon rubrique/article


@use "../settings";
@use "../tools/mq" as mq;


// 01 .icon-nav
// ========================================

.icon-nav-search,
.icon-nav-burger,
.icon-nav-close {
  fill: none;
  stroke: settings.$FRAAP-COLOR-INK;
  width: var(--icon-nav-size);
  height: var(--icon-nav-size);
}

.icon-nav-back {
  stroke-width: 4px;
  fill: none;
  stroke: currentColor;
}

.icon-nav-forward,
.icon-nav-back,
.icon-nav-link {
  border-radius: var(--icon-nav-border-radius);
  flex-shrink: 0;
  height: var(--icon-nav-size);
  padding: var(--icon-nav-padding);
  stroke: currentColor;
  stroke-width: var(--icon-nav-stroke-width, 3px);
  transition: transform 0.3s ease-out, stroke 0.1s;
  width: var(--icon-nav-size);
}

.icon-nav-back {
  background-color: var(--color-contrast);

  &_path1,
  &_path2 {
    stroke: var(--color-icon-nav-back-stroke);
    transform-origin: center;
    transition: transform 150ms cubic-bezier(0.215,0.61,0.355,1);
  }

  a:hover & {
    stroke: currentColor;
    transform: translateX(-12px);

    &_path1 {
      transform: scale(1.2);
    }

    &_path2 {
      transform: scale(0.8) translateX(8px);
    }
  }
}

.icon-nav-forward {

  &_path1,
  &_path2 {
    transform-origin: center;
    transition: transform 150ms cubic-bezier(0.215,0.61,0.355,1);
  }

  a:hover & {
    stroke: currentColor;
    transform: translateX(12px);

    &_path1 {
      transform: scale(1.2);
    }

    &_path2 {
      transform: scale(0.8) translateX(-8px);
    }
  }
}


.icon-nav-link {
  --iconPathOpacity: 0;
  --iconPathTransform: none;
  --iconPathOffset: translateX(12px);
  --hoverTransition: 150ms cubic-bezier(0.215,0.61,0.355,1);

  a:hover & {
    --iconPathOpacity: 1;
    --iconPathTransform: var(--iconPathOffset);
    stroke: currentColor;
    transform: var(--iconPathOffset);
  }

  &_path1 {
    transition: opacity var(--hoverTransition);
    opacity: var(--iconPathOpacity);
  }

  &_path2 {
    transition: transform var(--hoverTransition);
    transform: var(--iconPathTransform);
  }
}

// 02 icon-social
// ========================================

.icon-social {
  fill: var(--color-primary);
  transition: fill 0.15s ease-in;
}

// 03 icon rubrique/article
// ========================================

// icon Fédérer
.icon-rubrique15 {
  circle {
    fill: var(--color-primary-800);
  }
  path {
    fill: var(--color-contrast);
  }
}

// icon Représenter
.icon-rubrique13 {
  path:nth-child(1) {
    fill: var(--color-primary-800);
    fill-opacity: 1;
  }
  path:nth-child(2) {
    fill: var(--color-primary-700);
  }
  path:nth-child(3) {
    fill: var(--color-contrast);
  }
}

// icon Informer
.icon-rubrique1 {
  circle:nth-child(1),
  path:nth-child(2) {
    fill: var(--color-contrast);
  }
  circle:nth-child(3),
  path:nth-child(4)  {
    fill: var(--color-primary-700);
  }
}

// icon Observer
.icon-rubrique6 {
  path:nth-child(1) {
    fill: var(--color-contrast);
  }
  path:nth-child(2) {
    fill: var(--color-primary-700);
  }
  path:nth-child(3) {
    fill: var(--color-primary);
  }
}

// icon Fiches pratiques
.icon-rubrique38 {
  path:nth-child(odd) {
    fill: var(--color-contrast);
  }

  path:nth-child(2) {
    fill: var(--color-primary-700);
  }
}

// icon Fraap-infos
.icon-article512 {
  path:nth-child(2) {
    fill: var(--color-contrast);
    fill-opacity: 1;
  }
  circle {
    fill: var(--color-primary-800);
  }
  path:nth-child(3) {
    fill: var(--color-primary-700);
  }
}

// icon Atlas ATA
.icon-article1041 {
  path:nth-child(1) {
    fill: var(--color-contrast);
  }
  path:nth-child(2) {
    fill: var(--color-primary-800);
  }
  path:nth-child(3) {
    fill: var(--color-primary-400);
  }
}

// icon Annuaire
.icon-rubrique3 {
  path {
    stroke: var(--color-primary);
  }
  circle {
    fill: var(--color-contrast);
    fill-opacity: 1;
  }
}

// icon Mediathèque
.icon-rubrique47 {
  path:nth-child(odd) {
    fill: var(--color-primary-800);
  }
  path:nth-child(2) {
    fill: var(--color-contrast);
  }
}
