/// INDICATOR

.indicator {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-mono);
  font-size: var(--indicator-fontsize, var(--step--2));
  text-align: center;
  line-height: 0.9;
  padding: 0.2em;
  border-radius: 100%;
  width: max-content;
  min-width: 1.7em; // 1.6rem;
  min-height: 1.7em; // 1.6rem;
  background-color: var(--color-primary);
}
