/// media(box) object


.media {
  display: flex;
  align-items: var(--media-align, flex-start);
  flex-wrap: wrap;
  gap: var(--media-gutter, 1rem);
}

.media_figure {
  width: var(--media-figure-width, 64px);
  height: var(--media-figure-height, 64px);
}

.media_content {
  flex: 1;
}
