/// PAGINATION

@use "../settings";

.pagination {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 settings.$FRAAP-GLOBAL-GUTTER;
    justify-content: center;
    list-style: none;
    margin: 0 -1em;
    padding: 1em;
  }
}

.pagination-item {
  // display: none;

  // &:first-child,
  // &:last-child {
  //   display: list-item;
  // }

  &.prev {
    margin-right: auto;
  }

  &.next {
    margin-left: auto;
  }
}
