/// PROSE / PROSE-EDITOR
/// https://github.com/GoogleChrome/web.dev/blob/main/src/scss/blocks/_prose.scss

@use "../utilities/wrapper-content";
@use "../utilities/flow";
@use "../settings";
@use "../tools/mq" as mq;
@use "sass:math";

.prose {
  --flow-space: var(--space-m);

  @extend .flow;
  @extend .wrapper-content;
  max-width: #{math.div(settings.$FRAAP-PROSE-MAX-WIDTH, 16) * 1rem};

  // Variante offset-icon (rubrique et certains articles).
  &.with-offset-icon {
    padding-left: 0;
  }

  // Règles de marges (flow)
  aside,
  aside + *,
  table,
  table + *,
  h2 {
    --flow-space: var(--space-xl);
  }

  h3,
  h4,
  h5,
  h6 {
    --flow-space: var(--space-l);
  }

  h2 + *,
  h3 + *,
  h4 + *,
  h5 + * {
    --flow-space: var(--space-s);
  }

  h2 + h3,
  h3 + h4,
  h5 + h6 {
    --flow-space: var(--space-l);
  }

  // Etendue des lignes/blocs
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   max-width: 50ch;
  // }

  p,
  li,
  hr {
    max-width: 70ch;
  }

  // Ancre des les intertitres
  h2,
  h3,
  h4,
  h5,
  h6 {
    a[href^="#"] {
      color: transparent;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.3s;
    }

    &:hover a[href^="#"],
    a[href^="#"]:focus {
      color: var(--color-link);
    }
  }
}

// Variante article avec un sommaire : le header occupe la largeur
// des 2 colonnes (texte et sommaire).
@include mq.mq($from: l) {
  .prose.with-large-width {
    max-width: 100%;
  }
}

// .prose-editor
// Cibler les blocs d'édition de spip afin d'éviter des conflits
// notamment entre les listes de texte et la table des matière
// (de type inner).
.prose-editor {

  > table {
    width: 100%;
  }

  // Liens
  a[class*="spip"] {
    color: var(--color-link);
  }

  a[class*="spip"]:visited {
    color: var(--color-link-visited);
  }

  a[class*="spip"]:hover {
    color: var(--color-link);
  }

  // Lien spip_note
  a.spip_note {
    background-color: var(--color-link);
    border-radius: 2px;
    color: var(--color-paper);
    font-size: 0.8em;
    padding: 3px 2px 0px;
    transition: background 0.3s;

    &:visited {
      color: var(--color-paper);
    }

    &:hover {
      background-color: var(--color-contrast-300);
      text-decoration: none;
    }
  }

  // Icone sur les liens externes
  a.spip_out {
    &::after {
      background-color: currentColor;
      content: "";
      display: inline-flex;
      margin-left: 6px;
      mask-image: url(../../images/icon-link-external-16.svg);
      mask-size: cover;
      width: 0.6em;
      height: 0.6em;
    }
  }

  // Listes
  ul.spip,
  ol.spip {
    --flow-space: var(--space-xs);
    padding-left: 2rem;
    > li + li,
    ul,
    ol {
      margin-top: calc(var(--flow-space) / 2);
    }
  }

  // Tableaux
  table {
    max-width: 100%;
    min-width: 50%;
    width: 100%;
    border-spacing: 0;
  }

  th,
  td {
    padding: 0.8em 0.5em;
    text-align: left;
    border-collapse: collapse;
  }

  th {
    font-weight: 600;
  }

  tr th,
  tr td {
    border-bottom: 1px solid var(--color-stroke);
  }

  caption {
    caption-side: bottom;
    padding: 0.8em 0.5em;
    font-size: var(--step--1);
  }

  // Citations
  blockquote {
    @extend .flow;
    border-left: 4px solid var(--color-primary);
    padding-left: var(--flow-space);
  }

  // Images et documents
  // Utiliser uniquement le pluriel spip_documentS
  // car le singulier n'est pas présent dans le modèle utilisé par oembed
  // .spip_document,
  // .spip_document + *,
  .spip_documents,
  .spip_documents + * {
    --flow-space: var(--space-xl);
  }
}
