/// Prose
/// https://github.com/GoogleChrome/web.dev/blob/main/src/scss/blocks/_prose.scss

.prose {
  margin: 0 auto;
  max-width: 50rem;

  font-size: var(--step-0);
  line-height: 1.4;
}

@media (min-width: 48em) {
  .prose {
    p {
      max-width: 70ch;
    }
  }
}
