/// PROSE
/// https://github.com/GoogleChrome/web.dev/blob/main/src/scss/blocks/_prose.scss

@use "../utilities/wrapper-content";
@use "../utilities/flow";
@use "../settings";
@use "sass:math";

.prose {
  @extend .flow;
  @extend .wrapper-content;
  max-width: #{math.div(settings.$FRAAP-PROSE-MAX-WIDTH, 16) * 1rem};

  --flow-space: var(--space-m);

  &.with-offset-icon {
    padding-left: 0;
  }

  figure,
  figure + *,
  h2 {
    --flow-space: var(--space-xl);
  }

  h3,
  h4,
  h5,
  h6 {
    --flow-space: var(--space-l);
  }

  h2 + *,
  h3 + *,
  h4 + *,
  h5 + * {
    --flow-space: var(--space-s);
  }

  h2 + h3,
  h3 + h4,
  h5 + h6 {
    --flow-space: var(--space-l);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    a[href^="#"] {
      color: transparent;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.3s;
    }

    &:hover a[href^="#"],
    a[href^="#"]:focus {
      color: var(--color-link);
    }
  }

  > img,
  > table {
    width: 100%;
  }

  /// Details gets more surrounding space, but the inner elements
  /// should all be equal
  // details,
  // details + * {
  //   --flow-space: var(--space-xl);
  // }

  // details + details {
  //   margin-top: 0;
  // }

  // details > * {
  //   --flow-space: var(--space-m);
  // }

}
