/// RELATED
///
/// Contenus liés à un article

// .related {}

.related_list {
  --auto-grid-gutter-row: var(--space-l);
  --auto-grid-gutter-column: var(--space-l);
}

.related_item {
  --cluster-gutter: var(--space-2xs) var(--space-3xs);

  &.card {
    max-width: calc((1132px - var(--auto-grid-gutter-column)) / 2);
  }

  h3 {
    font-family: var(--font-family-sans);
    // font-size: var(--step-0);
    // font-weight: 600;

    a:hover {
      color: var(--color-link);
    }
  }
}
