/// RELATED
/// Contenus liés à un article

@use "../tools/mq" as mq;

// .related {}

.related_list {
  --auto-grid-gutter-row: var(--space-l);
  --auto-grid-gutter-column: var(--space-l);

  // Désactiver le mode auto-grid
  @include mq.mq($from: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.related_item {
  --cluster-gutter: var(--space-2xs) var(--space-3xs);

  &.card {
    max-width: calc((1132px - var(--auto-grid-gutter-column)) / 2);
  }
}
