/// RESSOURCES

// .ressources {}

.ressources_section {
  h2 {
    font-size: var(--step-2);
    font-weight: 500;
  }

  ul {
    font-size: var(--step-1);
  }

  li {
    color: var(--color-link);
  }
}

// .tree-list_heading {

//   // TODO: étendre une marge haute à tous les intertitres issus de #TEXTE ?
//   padding-top: var(--space-xs);
// }

// .tree-list_link {

// }
