/// SECTION

@use "../tools/mq" as mq;

.pod {
  position: relative;

  &.variant-angle-bottom {
    --pod-padding-bottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-min) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &.variant-angle-bottom-max {
    --pod-padding-bottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-max) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &.variant-banner {
    --pod-padding-top: calc(var(--section-angle-height) + (var(--section-angle-padding-top-base-min) * 1px) - (var(--angle-sin) * (100vw / 2)));
    --pod-padding-bottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-min) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }
}

// Mask zone
.pod_mask {
  overflow: hidden;
}

.pod_bg-mask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pod_bg-banner {
  position: relative;
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: skewY(-3deg);
  transform-origin: center;
}

// Content zone
.pod_content {
  padding: var(--pod-padding-top, 0) 0 var(--pod-padding-bottom, 0);
  position: relative;
}

// [1]  Décaler vers le bas, afin de ne pas cacher les accents
//      (le bloc parent ayant un overflow hidden)
.pod_headline {
  font-size: var(--step-4);
  //margin-top: 0.1em; // [1]
}






.section {
  --section-paddingTop: var(--space-l-xl);
  --section-paddingBottom: var(--space-l-xl);

  position: relative;
  color: var(--color-section-ink, var(--color-ink));

  &.variant-simple {
    --section-paddingBottom: 0;
  }

  &--angleTop {
    --section-paddingTop: calc(var(--section-angle-height) + (var(--section-angle-padding-top-base-max) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &--angleBottom {
    --section-paddingBottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-min) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &--angleBottom-max {
    --section-paddingBottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-max) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &--angleTopBottom {
    --section-paddingTop: calc(var(--section-angle-height) + (var(--section-angle-padding-top-base-max) * 1px) - (var(--angle-sin) * (100vw / 2)));
    --section-paddingBottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-max) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &--banner {
    --section-paddingTop: calc(var(--section-angle-height) + (var(--section-angle-padding-top-base-min) * 1px) - (var(--angle-sin) * (100vw / 2)));
    --section-paddingBottom: calc(var(--section-angle-height) + (var(--section-angle-padding-bottom-base-min) * 1px) - (var(--angle-sin) * (100vw / 2)));
  }

  &--overlap {
    margin-bottom: calc((var(--section-paddingBottom) * 0.3) * -1);
  }

  &.-headline {
    --section-paddingTop: var(--space-xl-2xl);
    --section-paddingBottom: var(--space-m-l);
  }
}

.section_masked {
  overflow: hidden;
}

.section_bgmask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section_background-banner {
  position: relative;
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: skewY(-3deg);
  // transform-origin: 100% 0;
  transform-origin: center;
}

.section_container {
  position: relative;
}

// [1]  Décaler vers le bas, afin de ne pas cacher les accents
//      (le bloc parent ayant un overflow hidden)
.section_headline {
  font-size: var(--step-4);
  margin-top: 0.1em; // [1]
}

// .section_heading {
//   font-weight: 500;

//   &[data-heading-level="2"] {
//     font-size: var(--step-2); // équivalent à h2
//   }
// }

.section_desc {
  --measure: 70ch;
  font-size: var(--step-2);
}

.section_content {
  padding: var(--section-paddingTop) 0 var(--section-paddingBottom);

  &.variant-icon-offset {
    padding-left: var(--space-l-2xl);
  }
}

.section_action {
  text-align: center;
}

@include mq.mq($from: m) {
  .section {
    &--overlap {
      margin-bottom: unset;
    }
  }
}
