/// SECTION

@use "../settings";
@use "../tools/mq" as mq;


.section {
  --section-paddingTop: var(--space-xl);
  --section-paddingBottom: var(--space-xl);
  position: relative;
}

.section--bandeau {
 --section-paddingTop: calc((100vw * #{var(--angle-sin)}) * 1.5);
 --section-paddingBottom: calc((100vw * #{var(--angle-sin)}) * 1.5);

 @include mq.mq($from: xl) {
   --section-paddingBottom: calc((100vw * #{var(--angle-sin)})); // Rééquilibrer le bloc
 }
}

.section--angleBottom {
  --section-paddingBottom: calc((100vw * #{var(--angle-sin)}) * 1.5);
}

// .section_masked {}

.section_bgmask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section_background {
  position: relative;
  background-color: red;
  height: 100%;
  width: 100%;
  transform: skewY(-3deg);
  transform-origin: center;
}

.section_container {
  position: relative;
  padding: var(--section-paddingTop) 0 var(--section-paddingBottom);
}

// .section_layout {
//   // --section-paddingTop: 0;
//   // --section-paddingBottom: 0;
// }
