/// SITE-NAV-OFFCANVAS
///
/// Variante OFFCANVAS, placée dans le menu offcanvas.

@use "../settings";
@use "sass:map";
@use "sass:math";
@use "../tools/mq" as mq;


// .site-nav-offcanvas {}

// .site-nav_wrapper {
//   &.-variant-offcanvas {
//     display: flex;
//     flex-direction: column;
//     margin-right: auto;
//     padding: 0 var(--space-s);
//     position: relative;
//     transform: translateX(-100%);
//     transition: transform 0.5s;
//     width: 100%;

//     .dialog[data-dialog-status="open"] & {
//       transform: translateX(0);
//     }

//     .dialog[data-dialog-status="closing"] & {
//       transform: translateX(-100%);
//     }
//   }
// }

.site-nav_header {
  align-items: flex-start;
  background-color: var(--color-paper);
  display: flex;
  justify-content: space-between;
  padding: var(--space-m) 1.125rem var(--space-m);
  position: sticky;

  h1 {
    font-size: var(--step-3);
    align-self: flex-end;
  }
}

.site-nav_body {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  & > * {
    flex: 1 0 100%;
    overflow: hidden auto;
    padding: var(--space-l) 1rem var(--space-l);
  }
}

.site-nav_list {
  &.-variant-offcanvas {
    display: block;
    font-size: var(--step-1);
    line-height: 1.2;
    height: 100%;
    position: relative;
    scroll-snap-align: start;

    &[aria-hidden="true"] {
      display: none;
    }

    & ul {
      font-size: var(--step-0);
      padding: 0.125rem;

      & ul {
        padding-left: 1.8rem;
      }

      & a span {
        display: flex;

        &::before {
          content: "—";
          align-self: baseline;
          margin-right: 0.5rem;
        }
      }
    }

    .site-nav_item {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      &--back {
        padding: 0;
      }
    }

    .site-nav_link {
      display: flex;
      align-items: center;
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      &--back {
        border-radius: 100%;
        display: inline-block;
        padding: 0;
        position: absolute;
        top: settings.$FRAAP-FOCUS-OUTLINE-WIDTH;
      }

      &--icon {
        justify-content: space-between;

        &:hover {
          color: var(--color-link);
        }
      }
    }
  }
}

@include mq.mq($from: navOffcanvas) {

  // .site-nav_wrapper {
  //   &.-variant-offcanvas {
  //     max-width: math.div(map.get(settings.$FRAAP-TWEAKPOINTS, "navOffcanvas"), 16) * 1rem;
  //   }
  // }

  .site-nav_header.-variant-offcanvas {
    padding-left: calc(3.25rem + 0.125rem);
  }

  .site-nav_body.-variant-offcanvas {
    & > * {
      padding-left: 3.25rem;
    }
  }

  .site-nav_list.-variant-offcanvas {
    & .site-nav_link--back {
      top: auto;
      left: 1rem;
    }
  }
}
