/// TEASER-RESSOURCES
/// Résumés de présentation des rubriques Fiches pratiques et médiathèque

.teaser-ressources {
  --media-align: center;
  --media-figure-width: 250px;
  --media-gutter: 2rem;
  --buttonCta-fontsize: var(--step-2);
}

// .teaser-ressources_img {}

.teaser-ressources_img-circle {
  fill: var(--color-primary);
  transform-origin: center;

  [data-compteur-animation="wait"] & {
    transform: scale(0);
  }

  [data-compteur-animation="true"] & {
    transform: scale(1);
    transition: transform 0.95s ease-in-out;
  }
}

.teaser-ressources_img-text {
  font-family: var(--font-family-headings);
  font-size: 29px;
}

.teaser-ressources_img-total {
  font-weight: 600;
  font-size: 144px;
}
