/// TEASER

.teaser {
  --switcher-target-container-width: 50rem;
  --switcher-gutter-row: var(--auto-grid-gutter-row);
  --switcher-gutter-column: var(--auto-grid-gutter-column);
  // --switcher-vertical-alignment: center;
}

// .teaser_columns {}

// .teaser_column {}
