/// TEXT-UNDERLINE
///
/// Soulignement en arrière-plan des titres et intertitres


// [1] Raccourci pour définir une seule couleur :
// Cf. https://css-tricks.com/cool-hover-effects-using-background-properties/
.text-underline {
  background-image: linear-gradient(var(--underline-color) 0 0); // [1]
  background-size: 100% 45%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  box-decoration-break: clone;
  padding-left: var(--underline-offset);
  padding-right: calc(var(--underline-offset) * 2);
  margin-left: calc(var(--underline-offset) * -1);

  & > a {
    &:hover {
      color: var(--color-link);
      text-decoration: none;
    }
  }
}
