/// TEXT-UNDERSCORE
///
/// Titre précédé d'un tiret bas

.text-underscore {
  display: flex;
  align-items: baseline;

  &::before {
    --card-heading-offset: calc(var(--auto-grid-gutter-column) * 0.4);
    background-color: var(--color-primary);
    content: "";
    display: block;
    flex: 0 0 auto;
    height: 4px;
    width: var(--card-heading-offset);
    margin-left: calc((var(--card-heading-offset) + var(--space-2xs)) * -1);
    margin-right: var(--space-2xs);
  }
}
